<h5>
    <i class="bi bi-clipboard2-check"></i>
    Contrato
</h5>

<p>
    Indicador de que si el expediente cuenta con contrato.
</p>

<div>
    Estado actual:
    <kbd *ngIf="lcontrato">
        <span>·</span>
        OK
        <span>·</span>
    </kbd>
    <kbd *ngIf="!lcontrato">
        <span>·</span>
        Sin Contrato
        <span>·</span>
    </kbd>
</div>

<br />

<div *ngIf="!lcontrato">

    <button class="btn btn-secondary" (click)="openModalSetTerms(setWithTermsModal)">
        Subir contrato
    </button>

</div>

<div *ngIf="lcontrato">

    <button class="btn btn-secondary" (click)="openModalSetTerms(setWithOutTermsModal)">
        Quitar contrato
    </button>

</div>



<div style="margin-top: 50px;">
    <span style="font-size: 0.75rem;">
        <i>
            {{sexpediente}}
        </i>
    </span>
</div>

<hr>

<!------------------------------------------------
  ----------- SET WITH TERMS MODAL ---------------
  ----------------------------------------------->
<ng-template #setWithTermsModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Subir contrato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            Se subirá un archivo PDF scaneado del contrato
        </p>

        <input type="file" (change)="onFileSelected($event)" accept="application/pdf" />

        <div *ngIf="uploadProgress >= 0">
            <p>Progreso: {{ uploadProgress | number: '1.0-0' }}%</p>
            <progress [value]="uploadProgress" max="100"></progress>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="!lUpdating" [disabled]="!file" class="btn btn-primary" (click)="uploadFile()">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lUpdating">
            </span>
            <span class="sr-only" *ngIf="!lUpdating">
                Guardar
            </span>
        </button>
        <button *ngIf="lUpdating" class="btn btn-primary" disabled>
            <span class="sr-only">
                Guardando...
            </span>
        </button>
    </div>
</ng-template>

<!------------------------------------------------
  --------- SET WITH-OUT TERMS MODAL -------------
  ----------------------------------------------->
<ng-template #setWithOutTermsModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Quitar Contrato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            Se marcará que el expediente no tiene contrato.
        </p>
        <p>
            <i>
                ¿Está seguro?
            </i>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="marcarSinContrato()">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lUpdating">
            </span>
            <span class="sr-only" *ngIf="!lUpdating">
                Quitar
            </span>
            <span class="sr-only" *ngIf="lUpdating">
                Quitando...
            </span>
        </button>
    </div>
</ng-template>