table {
    font-size: 0.75rem;
    td {
        text-align: center;
    }
}
td.grey {
    background-color: #087060;
    color: #fff;
    font-weight: bold;
}
td.green {
    background-color: #28a745;
    color: #fff;
}
td.red {
    background-color: #dc3545;
    color: #fff;
}