<br/>

<div *ngIf="!!lCliente">
    <!-- <b>
        {{objCliente.spaterno + ' ' + objCliente.smaterno + ', ' + objCliente.snombres}}
        <span *ngIf="objCliente.sgenero=='masculino'">
            <i class="bi bi-gender-male"></i>
        </span>
        <span *ngIf="objCliente.sgenero=='femenino'">
            <i class="bi bi-gender-female"></i>
        </span>
    </b> -->

    <table class="table table-bordered">
        <tr>
            <td>
                Nombres:
            </td>
            <td>
                {{objCliente.snombres}}
            </td>
        </tr>
        <tr>
            <td>
                Apellido Paterno:
            </td>
            <td>
                {{objCliente.spaterno}}
            </td>
        </tr>
        <tr>
            <td>
                Apellido Materno:
            </td>
            <td>
                {{objCliente.smaterno}}
            </td>
        </tr>
        <tr>
            <td>
                Celular:
            </td>
            <td>
                {{objCliente.scelular}}
            </td>
        </tr>
        <!-- <tr>
            <td>
                Correo:
            </td>
            <td>
                {{objCliente.scorreo}}
            </td>
        </tr> -->
        <tr>
            <td>
                Direccion:
            </td>
            <td>
                {{objCliente.sdireccion}}
            </td>
        </tr>
        <tr>
            <td>
                DNI:
            </td>
            <td>
                {{objCliente.sdni}}
            </td>
        </tr>
        <!-- <tr>
            <td>
                Estado civil:
            </td>
            <td>
                {{objCliente.sestadocivil}}
            </td>
        </tr>
        <tr>
            <td>
                Ocupacion:
            </td>
            <td>
                {{objCliente.socupacion}}
            </td>
        </tr> -->
        <tr>
            <td>
                Observacion:
            </td>
            <td>
                {{objCliente.sobservacion}}
            </td>
        </tr>
    </table>    
</div>

<div *ngIf="!lCliente">
    Sin datos del Cliente
</div>
