<h3>
    Abonos Realizados
</h3>

<div style="max-width: 250px;">
    <form [formGroup]="frmPagos" autocomplete="off">
        <div>
            <label class="label-form" for="start">Desde: </label>
            <input type="date" id="start" class="form-control" formControlName="inicio">
        </div>
        <div>
            <label class="label-form" for="end">Hasta: </label>
            <input type="date" id="end" class="form-control" formControlName="final">
        </div>
    </form>
</div>

<hr>

<div *ngIf="!cargando">
    <button (click)="obtenerAbonos()" class="btn btn-primary" [disabled]="!frmPagos.valid">
        Ver abonos
    </button>
</div>

<div *ngIf="cargando">
    <button class="btn btn-primary">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
</div>

<!-- <div class="chart-container">
    <canvas id="PagosChart">{{ pagosChart }}</canvas>
</div> -->

<br>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center;">
                    #
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Area
                </th>
                <th>
                    Expediente
                </th>
                <th style="text-align: center;">
                    Monto
                </th>
                <th>
                    Descripción
                </th>
            </tr>
        </thead>
        <tbody *ngIf="abonos.length > 0">
            <tr *ngFor="let abono of abonos; let i = index">
                <td style="text-align: center;">
                    {{i + 1}}
                </td>
                <td>
                    {{abono.fecha}}
                </td>
                <td>
                    {{abono.especialidad}}
                </td>
                <td>
                    <ul>
                        <li>
                            <a [routerLink]="'/expediente/' + abono.numeroExpediente" target="_blank">
                                {{abono.numeroExpediente}}
                            </a>
                        </li>
                        <li>
                            DTE: {{abono.demandante}}
                        </li>
                        <li>
                            DDO: {{abono.demandado}}
                        </li>
                    </ul>
                </td>
                <td style="text-align: center;">
                    {{abono.monto | number:'2.2-2'}}
                </td>
                <td>
                    {{abono.observaciones}}
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="abonos.length == 0">
            Sin pagos
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">

                </td>
                <th style="text-align: center;">
                    {{sumaAbonos | number:'2.2-2'}}
                </th>
                <td>

                </td>
            </tr>
        </tfoot>
    </table>
</div>