<div class="container">
  <h3 style="text-align: center;">
    Listado de Colaboradores
  </h3>

  @if (!lLoading) {
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              ID
            </th>
            <th>
              Nombre
            </th>
            <!-- <th>
            Color
          </th> -->
        </tr>
      </thead>
      @if (!lLoading) {
        <tbody>
          @for (usuario of lstUsuarios; track usuario; let i = $index) {
            <tr>
              <td>
                {{i+1}}
              </td>
              <td>
                <a [routerLink]="'/usuario/'+usuario.id">
                  {{usuario.id}}
                </a>
              </td>
              <td>
                {{usuario.snombre}}
              </td>
              <!-- <td class="centrado">
              <span [ngStyle]="{'color': usuario.scolor}" class="scolor">
                <i class="bi bi-circle-fill"></i>
              </span>
            </td> -->
          </tr>
        }
      </tbody>
    }
    @if (lLoading) {
      <tbody>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </tbody>
    }
  </table>
</div>
}
@if (lLoading) {
  <div>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Cargando...
  </div>
}
</div>