<div>
    <h4 style="text-align: center;">Mis tickets</h4>
</div>

<div class="table-responsive">
    <table class="table table-hover" style="min-width: 1000px;">
        <thead>
            <tr>
                <th style="width: 10%;">
                    Ticket
                </th>
                <th style="width: 25%;">
                    Expediente
                </th>
                <th style="width: 50%;">
                    Tarea
                </th>
                <th style="width: 10%;">
                    Avance
                </th>
                <th style="width: 5%;">
                    Accion
                </th>
            </tr>
        </thead>
        <tbody *ngIf="!cargando">
            <tr *ngFor="let ticket of ticketsF">
                <td>
                    <i class="bi bi-ticket-perforated"></i>
                    <br>
                    <span>{{ticket.idTicket}}</span>
                </td>
                <td>
                    <i class="bi bi-chevron-double-right"></i>
                    <span>
                        <a [routerLink]="'/expediente/'+ticket.expediente">
                            {{ticket.expediente}}
                        </a>
                    </span>
                    <br>
                    <span> {{ticket.demandante}} </span>
                    <br>
                    <span> {{ticket.demandado}} </span>
                    <br>
                    <span> {{ticket.materia}} </span>
                </td>
                <td>
                    <strong>{{ticket.titulo}}</strong>
                    <br>
                    <span>{{ticket.descripcion}}</span>
                    <ul style="margin: 0;">
                        <li>
                            Responsable: <span>{{ticket.asignadoA}}</span>
                        </li>
                        <li>
                            Tiempo estimado: <span>{{ticket.tiempoEstimado}} horas</span>
                        </li>
                    </ul>
                </td>
                <td style="vertical-align: middle; text-align: center;">
                    <span *ngIf="ticket.avance == 0" style="color: green;">
                        <i class="bi bi-circle"></i>
                    </span>
                    <span *ngIf="ticket.avance > 0 && ticket.avance < 100" style="color: green;">
                        <i class="bi bi-circle-half"></i>
                    </span>
                    <span *ngIf="ticket.avance == 100" style="color: green;">
                        <i class="bi bi-circle-fill"></i>
                    </span>
                </td>
                <td>
                    <div class="dropstart">
                        <button type="button" class="btn" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item" type="button"
                                    (click)="abrirModalAvance(modalAvanzar, ticket)">
                                    <i class="bi bi-graph-up-arrow"></i>
                                    <span style="padding-left: 5px;">
                                        Avance
                                    </span>
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button"
                                    (click)="abrirModalVerDetalles(modalVerDetalles, ticket)">
                                    <i class="bi bi-info-circle"></i>
                                    <span style="padding-left: 5px;">
                                        Detalles
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="cargando">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            cargando...
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>


<!------------------------------------------------
  ------------- MODAL: VER DETALLES --------------
  ------------------------------------------------>
<ng-template #modalVerDetalles let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="bi bi-ticket-perforated"></i>
            Ticket: <span style="font-weight: normal;">{{ticketSeleccionado?.idTicket}}</span>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row g-3 mb-3">
            <div class="col-md-6 col-12">
                <strong>{{ticketSeleccionado?.titulo}}</strong>
                <br>
                <p>{{ticketSeleccionado?.descripcion}}</p>
            </div>
            <div class="col-md-6 col-12">
                <strong>Expediente</strong>
                <br>
                <span>
                    <i class="bi bi-chevron-double-right"></i>
                    <a [routerLink]="'/expediente/'+ticketSeleccionado?.expediente" target="_blank">
                        {{ticketSeleccionado?.expediente}}
                    </a>
                </span>
                <br>
                <span>
                    <span style="font-family: monospace;"><b>DTE:</b></span> 
                    {{ticketSeleccionado?.demandante}}
                </span>
                <br>
                <span>
                    <span style="font-family: monospace;"><b>DDO:</b></span>
                    {{ticketSeleccionado?.demandado}}
                </span>
                <br>
                <span>
                    <span style="font-family: monospace;"><b>MATERIA:</b></span>
                    {{ticketSeleccionado?.materia}}
                </span>
                <br>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-6 col-12">
                <strong>STATS</strong>
                <ul style="list-style: none; padding: 0;">
                    <li>
                        <i class="bi bi-person-fill"></i>
                        <i style="padding-left: 5px;">Asignado a: </i> <span>{{ticketSeleccionado?.asignadoA}}</span>
                    </li>
                    <li>
                        <i class="bi bi-clock-history"></i>
                        <i style="padding-left: 5px;">Tiempo estimado: </i> <span>{{ticketSeleccionado?.tiempoEstimado}}
                            horas</span>
                    </li>
                    <li>
                        <i class="bi bi-graph-up-arrow"></i>
                        <i style="padding-left: 5px;">Avance: </i> <span>{{ticketSeleccionado?.avance}}%</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-12">

            </div>
        </div>
        <div class="row g-3">
            <div class="col-12" *ngIf="!cargandoRDT">
                <div *ngFor="let tarea of tareasRdt"
                    style="border-top: 1px solid #cccccc; padding-top: 10px; padding-bottom: 10px;">
                    <div>
                        <b>
                            {{tarea.scolaborador}}
                        </b>
                        <i style="color: grey;">
                            ({{tarea.sfecha}})
                        </i>
                        <i style="color: grey;; font-style: italic;">
                            - ITER: {{tarea.niter}}
                        </i>
                    </div>
                    <div style="padding-left: 25px;">
                        <div>
                            {{tarea.sdeseje}}
                        </div>
                        <div>
                            <b><i>Por realizar:</i></b> {{tarea.sacceje}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" *ngIf="cargandoRDT">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                cargando...
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="modal.dismiss('Cross click')">
            OK
        </button>
    </div>
</ng-template>


<!------------------------------------------------
  ------------- MODAL: AVANZAR -------------------
  ------------------------------------------------>
<ng-template #modalAvanzar let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            <i class="bi bi-ticket-perforated"></i>
            Ticket: <span style="font-weight: normal;">{{ticketSeleccionado?.idTicket}}</span>
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h5>Progreso</h5>
        <label for="avance" style="padding-right: 10px;">Nivel de avance: </label>
        <select name="avance" id="avance" [formControl]="fcTicketAvance">
            <option value="0">0%</option>
            <option value="10">10%</option>
            <option value="20">20%</option>
            <option value="30">30%</option>
            <option value="40">40%</option>
            <option value="50">50%</option>
            <option value="60">60%</option>
            <option value="70">70%</option>
            <option value="80">80%</option>
            <option value="90">90%</option>
            <option value="100">100%</option>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="!actualizando" (click)="actualizarAvance()">
            Actualizar
        </button>
        <button type="button" class="btn btn-primary" *ngIf="actualizando" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Actualizando...
        </button>
    </div>
</ng-template>