h4 {
    text-align: center;
}

.tbl-cabecera {
    font-weight: bold;
    border-collapse: separate;
    border-spacing: 0 2px;

    .objrdt {
        font-style: italic;
        background-color: #eee;
        padding: 0px 20px;
        border-radius: 5px;
        margin: 2px auto;
    }
}

#tareas_rdt {
    font-size: .75em;
    margin-top: 10px;

    tr>th {
        vertical-align: middle;
        background-color: #ddd;
    }
}

// /////// buscador

.search-box {
    position: relative;
    padding-left: 5px;
}

.result-box {
    position: absolute;
    z-index: 3;
    top: 65px;

    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: max-content;
    max-height: 400px;

    .result-item {
        padding: 0 15px;
        margin: 5px 0;
        border-bottom: 1px solid #f3f3f3;
        font-weight: 400;

        .exp {
            font-size: 0.95rem;
        }

        .dte {
            font-size: 0.75rem;
            font-style: italic;
        }
    }

    .result-item:hover {
        background-color: #e9f3ff;
        cursor: pointer;
    }
}

///
/// Modal de agregar tarea
/// 

.modal-body {
    form {
        font-size: 13px;
        font-weight: bold;

        label {
            margin: 0;
        }
    }

    .form-control,
    .form-select {
        font-size: 0.9rem;
        line-height: 1.25;
        border-color: #959595;
        background-color: #f1f1f1;
    }

    
}