<br/>

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="expediente-tab" data-bs-toggle="tab" data-bs-target="#expediente-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                Expediente
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="historial-tab" data-bs-toggle="tab" data-bs-target="#historial-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="false">
                Historial RDT
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contrato-tab" data-bs-toggle="tab" data-bs-target="#contrato-tab-pane" type="button" role="tab" aria-controls="contrato-tab-pane" aria-selected="false">
                Contrato
            </button>
        </li>
        <!-- <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                Pagos/cuotas
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="cliente-tab" data-bs-toggle="tab" data-bs-target="#cliente-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                Cliente
            </button>
        </li> -->
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="expediente-tab-pane" role="tabpanel" aria-labelledby="expediente-tab" tabindex="0">
            <div class="container expediente">
                <h4>
                    {{objExpediente.sorganojuris}}
                </h4>
                <h4 style="background-color: #f1f1f1; border-radius: 5px; padding: 5px 0;">
                    {{objExpediente.sexpediente}}
                </h4>
                <hr/>
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <b>MATERIA:</b>
                        </td>
                        <td>
                            {{objExpediente.smateria}}
                            <!-- <input 
                                type="text" 
                                class="form-control"
                                [value]="objExpediente.smateria"
                                readonly
                            > -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>TIPO:</b>
                        </td>
                        <td>
                            {{objExpediente.sespecialidad}}
                            <!-- <input 
                                type="text" 
                                class="form-control"
                                [value]="objExpediente.sespecialidad"
                                readonly
                            > -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>ESPECIALISTA:</b>
                        </td>
                        <td>
                            {{objExpediente.sespecialista}}
                            <!-- <input 
                                type="text" 
                                class="form-control"
                                [value]="objExpediente.sespecialista"
                                readonly
                            > -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>DEMANDANTE:</b>
                        </td>
                        <td>
                            {{objExpediente.sdemandante}}
                            <!-- <input 
                                type="text" 
                                class="form-control"
                                [value]="objExpediente.sdemandante"
                                readonly
                            > -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>DEMANDADO:</b>
                        </td>
                        <td>
                            {{objExpediente.sdemandado}}
                            <!-- <input 
                                type="text" 
                                class="form-control"
                                [value]="objExpediente.sdemandado"
                                readonly
                            > -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>INICIO:</b>
                        </td>
                        <td>
                            {{objExpediente.sfechainicio}}
                            <!-- <input 
                                type="text" 
                                class="form-control"
                                [value]="objExpediente.sfechainicio"
                                readonly
                            > -->
                        </td>
                    </tr>
                </table>
                <hr/>
                <div class="row">
                    <div class="col-3">
                    </div>
                    <div class="col-6">
                        <h6>
                            AREQUIPA
                        </h6>
                    </div>
                    <div class="col-3">
                        <div style="padding: 0; display: flex; flex-direction: row-reverse;">
                            <a [routerLink]="'/expediente-edit/'+sexpediente" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="historial-tab-pane" role="tabpanel" aria-labelledby="historial-tab" tabindex="0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let h of lstHistorial">
                    <u>{{h.fech}}, {{h.user}}</u>.- 
                    <b>Tarea:</b> {{h.task}}
                    <b>Accion realizada:</b> {{h.desc}}
                    <b>Accion por realizar:</b> {{h.pend}}
                    <i>ITER: {{h.iter}}</i>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade" id="contrato-tab-pane" role="tabpanel" aria-labelledby="contrato-tab" tabindex="0">
            <br/>
            <h5 *ngIf="objExpediente.urlcontrato">
                CONTRATO
            </h5>
            <h5 *ngIf="!objExpediente.urlcontrato">
                SIN CONTRATO
            </h5>
            <div *ngIf="!urlDownloadContrato && objExpediente.urlcontrato">
                <button class="btn btn-success" (click)="crearDownloadUrlContrato()">
                    <span class="spinner-border spinner-border-sm" 
                        role="status" 
                        aria-hidden="true"
                        *ngIf="lGeneratingUrlContrato"
                    >
                    </span>
                    <span class="sr-only" *ngIf="!lGeneratingUrlContrato">
                        Generar Link de Descarga
                    </span>
                    <span class="sr-only" *ngIf="lGeneratingUrlContrato">
                        Generando...
                    </span>
                </button>
            </div>
            <div *ngIf="urlDownloadContrato">
                <a [href]="urlDownloadContrato" target="_blank">
                    Ver contrato Aqui
                </a>
            </div>
            <hr/>
            <button class="btn btn-primary" (click)="openModalContrato(contratoModal)">
                <i class="bi bi-pencil"></i> Subir contrato
            </button>
        </div>
        <!-- <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <br/>
            <p>
                Contrato: 3500.00
            </p>
            
            <ol>
                <li>
                    <u>03/oct/2022</u>.-
                    Cuota: <b>500.00</b>
                    Medio de Pago: <b>Depósito Bancario BCP</b>
                    <button 
                        class="btn btn-primary btn-sm" 
                        style="margin-left: 10px;"
                        (click)="openNewTaskModal(viewBoucher)"
                    >
                        Ver boucher
                    </button>
                </li>
            </ol>
            
            <p>
                Saldo: 3000.00
            </p>

        </div> -->
        <!-- <div class="tab-pane fade" id="cliente-tab-pane" role="tabpanel" aria-labelledby="cliente-tab" tabindex="0">
            <br/>
            <p>
                <b>DATOS CLIENTE:</b>
                
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat ratione illum repellat alias sed nulla consectetur vel, blanditiis incidunt totam autem eos esse, qui quo error omnis, sint earum? Sunt!
            </p>
        </div> -->
    </div>
</div>

<br/>

<!-- <pre>
    {{lstHistorial | json}}
</pre> -->


<!-----------------------------------------------
---------------- VOUCHER MODAL ------------------
------------------------------------------------>
<ng-template #viewBoucher let-modal>
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Boucher</h4>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
    ></button>
</div>
<div class="modal-body">
    <img src="https://posgrado.unmsm.edu.pe/admision/inscripcion/assets/images/comprobante-pago-bcp2.png" alt="boucher">
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-primary"
        (click)="modal.dismiss('Cross click')"
    >
        Aceptar
    </button>
</div>
</ng-template>

<!-----------------------------------------------
---------------- ############# ------------------
------------------------------------------------>

<!-----------------------------------------------
--------------- CONTRATO MODAL ------------------
------------------------------------------------>
<ng-template #contratoModal let-modal>
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contrato</h4>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
    ></button>
</div>
<div class="modal-body">
    Esta a punto de subir el contrato escaneado en <b>PDF</b>.
    <div>
        <label for="archivocontrato">Archivo PDF: </label>
        <input type="file" id="archivocontrato" #inputcontrato>
    </div>
</div>
<div class="modal-footer">
    <button 
        class="btn btn-primary" 
        (click)="uploadContrato(inputcontrato)"
        [disabled]="lUploadingContrato"
    >
        <span class="spinner-border spinner-border-sm" 
            role="status" 
            aria-hidden="true"
            *ngIf="lUploadingContrato"
        ></span>
        <span class="sr-only" *ngIf="!lUploadingContrato">
            Subir
        </span>
        <span class="sr-only" *ngIf="lUploadingContrato">
            Subiendo...
        </span>
    </button>
</div>
</ng-template>

<!-----------------------------------------------
---------------- ############# ------------------
------------------------------------------------>