.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-image: url('./../../assets/digimon.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Capa semitransparente negra */
}

.content {
    position: relative;
    color: #fff;
    z-index: 1;
    div {
        padding-top: 10px;
    }
}

video {
    width: 100%;
    height: auto;
    /* aspect-ratio: 16 / 9; */
    /* Ajusta la relación de aspecto según tu video */
    object-fit: cover;
}

.video-container {
    width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    // overflow: hidden;
}