<h5 style="text-align: center;">
  Tareo Mensual LTS
</h5>
<div>
  <span>
    <label>Mes:</label>
    <select [formControl]="fcMes">
      @for (mes of meses; track mes) {
        <option [value]="mes.inicio + ':' + mes.final">
          {{mes.nombre}}
        </option>
      }
    </select>
  </span>
  <span>
    <label>Usuario:</label>
    <select [formControl]="fcUsuario">
      @for (usuario of usuarios; track usuario) {
        <option [value]="usuario.id">
          {{usuario.snombre}}
        </option>
      }
    </select>
  </span>
  <span>
    <button [disabled]="!fcMes.valid || !fcUsuario.valid" (click)="recuperarRdts()">
      Ver Tareo
    </button>
  </span>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Fecha
        </th>
        <th>
          Día
        </th>
        <th>
          Nombre
        </th>
        <th>
          Hora Entrada
        </th>
        <th>
          Hora Salida
        </th>
        <th>
          Tareas
        </th>
        <th>
          Observaciones
        </th>
      </tr>
    </thead>
    @if (!cargando) {
      <tbody>
        @for (tareo of rdts; track tareo) {
          <tr>
            <td>
              {{tareo.fecha}}
            </td>
            <td>
              {{tareo.diaSemana}}
            </td>
            <td>
              {{tareo.nombreUsuario}}
            </td>
            <td>
              {{tareo.entradaHora}}:{{tareo.entradaMinuto}}
            </td>
            <td>
              {{tareo.salidaHora}}:{{tareo.salidaMinuto}}
            </td>
            <td>
              {{tareo.tareas.length}}
            </td>
            <td>
              {{tareo.observaciones}}
            </td>
          </tr>
        }
      </tbody>
    }
    @if (cargando) {
      <tbody>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        cargando...
      </tbody>
    }
  </table>
</div>