<h4>
  REPORTE DIARIO DE TRABAJO
</h4>

<table class="tbl-cabecera">
  <tr>
    <td>Realizado por:</td>
    <td class="objrdt">{{objRdt.scolaborador}}</td>
  </tr>
  <tr>
    <td>Fecha:</td>
    <td class="objrdt">{{objRdt.sfecha2}}</td>
  </tr>
</table>

<div class="table-responsive">
  <table class="table table-bordered" id="tareas_rdt">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Atención</th>
        <th scope="col">Delegado por</th>
        <th scope="col">Expediente</th>
        <th scope="col">Tipo de proceso</th>
        <th scope="col">DTE</th>
        <th scope="col">DDO</th>
        <th scope="col">ITER</th>
        <th scope="col">Avance(%)</th>
        <th scope="col">F. culminación</th>
        <th scope="col">T. Atención</th>
        <th scope="col">Código de tarea</th>
        <th scope="col">Mención de la tarea</th>
        <th scope="col">Acciones a realizar</th>
        <th scope="col">Fecha y Hora de guardado</th>
      </tr>
    </thead>
    <tbody *ngIf="!lLoading">
      <tr *ngFor="let tarea of lstTareas; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ tarea.stipocliente }}
        </td>
        <td>
          {{ tarea.stipoatencion }}
        </td>
        <td>
          {{ tarea.sdelegadopor }}
        </td>
        <td>
          {{ tarea.sexpediente }}
        </td>
        <td>
          {{ tarea.sespecialidad }}
        </td>
        <td>
          {{ tarea.sdemandante}}
        </td>
        <td>
          {{ tarea.sdemandado }}
        </td>
        <td>
          {{ tarea.niter }}
        </td>
        <td>
          {{ tarea.navance }}
        </td>
        <td>
          {{ tarea.sfculminacion }}
        </td>
        <td>
          {{tarea.shorasatencion}}:{{tarea.sminutosatencion}}
        </td>
        <td>
          {{ tarea.ncodeje }}
        </td>
        <td>
          {{ tarea.sdeseje }}
        </td>
        <td>
          {{ tarea.sacceje }}
        </td>
        <td>
          {{ tarea.sfecharegistro }}
        </td>
      </tr>
    </tbody>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lLoading"></span>
    <tfoot>
      <tr>
        <th colspan="11" style="text-align: right;">
          SUMA TOTAL DE TIEMPO UTILIZADO
        </th>
        <th>
          {{nSumaTiempoTareas}}
        </th>
        <th colspan="4">
        </th>
      </tr>
    </tfoot>
  </table>
</div>