<br>
<div class="container" *ngIf="!lLoading">
    <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="expediente">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="expediente-tab" data-bs-toggle="tab"
                data-bs-target="#expediente-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                aria-selected="true">
                Expediente
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="historial-tab" data-bs-toggle="tab" data-bs-target="#historial-tab-pane"
                type="button" role="tab" aria-controls="home-tab-pane" aria-selected="false">
                Historial
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pagos-tab" data-bs-toggle="tab" data-bs-target="#pagos-tab-pane" type="button"
                role="tab" aria-controls="contrato-tab-pane" aria-selected="false">
                Pagos
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="calls-tab" data-bs-toggle="tab" data-bs-target="#calls-tab-pane" type="button"
                role="tab" aria-controls="calls-tab-pane" aria-selected="false">
                Llamadas
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="citas-tab" data-bs-toggle="tab" data-bs-target="#citas-tab-pane" type="button"
                role="tab" aria-controls="citas-tab-pane" aria-selected="false">
                Citas
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="audiencia-tab" data-bs-toggle="tab" data-bs-target="#audiencia-tab-pane" type="button"
                role="tab" aria-controls="audiencia-tab-pane" aria-selected="false">
                Audiencias
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="obs-tab" data-bs-toggle="tab" data-bs-target="#obs-tab-pane" type="button"
                role="tab" aria-controls="obs-tab-pane" aria-selected="false">
                Observaciones
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="files-tab" data-bs-toggle="tab" data-bs-target="#files-tab-pane" type="button"
                role="tab" aria-controls="files-tab-pane" aria-selected="false">
                Actuados
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="edit-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-pane" type="button"
                role="tab" aria-controls="edit-tab-pane" aria-selected="false">
                <i class="bi bi-wrench-adjustable"></i>
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent" *ngIf="expediente">
        <div class="tab-pane fade show active" id="expediente-tab-pane" role="tabpanel" aria-labelledby="expediente-tab"
            tabindex="0">
            <app-exp-item-cover [expediente]="expediente"></app-exp-item-cover>
        </div>
        <div class="tab-pane fade" id="historial-tab-pane" role="tabpanel" aria-labelledby="historial-tab" tabindex="0">
            <app-exp-item-rdt [expediente]="expediente"></app-exp-item-rdt>
        </div>
        <div class="tab-pane fade" id="pagos-tab-pane" role="tabpanel" aria-labelledby="pagos-tab" tabindex="0">
            <app-exp-item-fees [expediente]="expediente"></app-exp-item-fees>
        </div>
        <div class="tab-pane fade" id="calls-tab-pane" role="tabpanel" aria-labelledby="calls-tab" tabindex="0">
            <app-exp-item-calls [expediente]="expediente"></app-exp-item-calls>
        </div>
        <div class="tab-pane fade" id="citas-tab-pane" role="tabpanel" aria-labelledby="citas-tab" tabindex="0">
            <app-exp-item-appt [expediente]="expediente"></app-exp-item-appt>
        </div>
        <div class="tab-pane fade" id="audiencia-tab-pane" role="tabpanel" aria-labelledby="audiencia-tab" tabindex="0">
            <app-exp-item-trial [expediente]="expediente"></app-exp-item-trial>
        </div>
        <div class="tab-pane fade" id="obs-tab-pane" role="tabpanel" aria-labelledby="obs-tab" tabindex="0">
            <app-exp-item-obs [expediente]="expediente"></app-exp-item-obs>
        </div>
        <div class="tab-pane fade" id="files-tab-pane" role="tabpanel" aria-labelledby="files-tab" tabindex="0">
            <app-exp-item-k [expediente]="expediente"></app-exp-item-k>
            <app-exp-item-files [expediente]="expediente"></app-exp-item-files>
        </div>
        
        <div class="tab-pane fade" id="edit-tab-pane" role="tabpanel" aria-labelledby="obs-tab" tabindex="0">
            <app-exp-item-edit-data [expediente]="expediente"></app-exp-item-edit-data>
            <!-- <app-exp-item-edit-match [sexpediente]="expediente.numero"></app-exp-item-edit-match>
            <app-exp-item-edit-code [sexpediente]="expediente.numero"></app-exp-item-edit-code> -->
            <app-exp-item-edit-status [expediente]="expediente"></app-exp-item-edit-status>
        </div>
    </div>
    <div *ngIf="!expediente">
        <div style="font-size: 3rem;">
            <i class="bi bi-capsule-pill"></i>
        </div>
        Expediente no Existe
    </div>
</div>

<div class="container" *ngIf="lLoading">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Cargando Expediente...
</div>