<br />

<div class="container">
    <div class="ribbon ribbon-top-right" *ngIf="!lactive">
        <span>Depurado</span>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="expediente-tab" data-bs-toggle="tab"
                data-bs-target="#expediente-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                aria-selected="true">
                Expediente
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="historial-tab" data-bs-toggle="tab" data-bs-target="#historial-tab-pane"
                type="button" role="tab" aria-controls="home-tab-pane" aria-selected="false">
                Historial RDT
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pagos-tab" data-bs-toggle="tab" data-bs-target="#pagos-tab-pane" type="button"
                role="tab" aria-controls="contrato-tab-pane" aria-selected="false">
                Pagos
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="chat-tab" data-bs-toggle="tab" data-bs-target="#chat-tab-pane" type="button"
                role="tab" aria-controls="chat-tab-pane" aria-selected="false">
                Comunicación
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="obs-tab" data-bs-toggle="tab" data-bs-target="#obs-tab-pane" type="button"
                role="tab" aria-controls="obs-tab-pane" aria-selected="false">
                Observaciones
            </button>
        </li>
        <li class="nav-item" role="presentation" *ngIf="true">
            <button class="nav-link" id="edit-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-pane" type="button"
                role="tab" aria-controls="edit-tab-pane" aria-selected="false">
                <i class="bi bi-wrench-adjustable"></i>
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="expediente-tab-pane" role="tabpanel" aria-labelledby="expediente-tab"
            tabindex="0">
            <app-exp-item-cover [sexpediente]="sexpediente"></app-exp-item-cover>
        </div>
        <div class="tab-pane fade" id="historial-tab-pane" role="tabpanel" aria-labelledby="historial-tab" tabindex="0">
            <app-exp-item-tasks [sexpediente]="sexpediente"></app-exp-item-tasks>
        </div>
        <div class="tab-pane fade" id="pagos-tab-pane" role="tabpanel" aria-labelledby="pagos-tab" tabindex="0">
            <app-exp-item-fees [sexpediente]="sexpediente"></app-exp-item-fees>
        </div>
        <div class="tab-pane fade" id="chat-tab-pane" role="tabpanel" aria-labelledby="chat-tab" tabindex="0">
            <app-exp-item-chat [sexpediente]="sexpediente"></app-exp-item-chat>
        </div>
        <div class="tab-pane fade" id="obs-tab-pane" role="tabpanel" aria-labelledby="obs-tab" tabindex="0">
            <app-exp-item-obs [sexpediente]="sexpediente"></app-exp-item-obs>
        </div>
        <div class="tab-pane fade" id="edit-tab-pane" role="tabpanel" aria-labelledby="obs-tab" tabindex="0">
            <app-exp-item-edit-data [sexpediente]="sexpediente"></app-exp-item-edit-data>
            <app-exp-item-edit-match [sexpediente]="sexpediente"></app-exp-item-edit-match>
            <app-exp-item-edit-code [sexpediente]="sexpediente"></app-exp-item-edit-code>
            <app-exp-item-edit-terms [sexpediente]="sexpediente"></app-exp-item-edit-terms>
            <app-exp-item-edit-status [sexpediente]="sexpediente"
                (onLactive)="updateLactive($event)"></app-exp-item-edit-status>
        </div>
    </div>
</div>