<h3>
    Generador de Estadísticas
</h3>
<div>
    <h5>Tareas</h5>
    <div>
        <label for="start">Desde: </label>
        <input type="date" id="start" #start (change)="setInicio(start.value)">
    </div>
    <div>
        <label for="end">Hasta: </label>
        <input type="date" id="end" #end (change)="setFinal(end.value)">
    </div>
    Desde <i>{{sfinicio}}</i> hasta <i>{{sffinal}}</i>
    <div>
        <button (click)="getTasks()" [ngClass]="{'btn btn-success':lstTareas.length>0}">
            Recuperar tareas
        </button>
    </div>
</div>
<hr>
<div>
    <h5>Colaboradores</h5>
    <button (click)="getUsers()" [ngClass]="{'btn btn-success':lstUsuarios.length>0}">
        Recuperar usuarios
    </button>
</div>
<hr>
<div *ngIf="lstUsuarios.length>0 && lstTareas.length>0">
    <h5>Boton Para generar las estadísticas</h5>
    <input type="text" #texto placeholder="Título de la estadística">
    <br>
    <button (click)="generar(texto.value)">
        Generar
    </button>
</div>