<div>
    <h4>
        ITER PROCESAL - LABORAL
    </h4>
    <ol>
        <li *ngFor="let iter of lstIterLaboral">
            {{iter.desc}}
        </li>
    </ol>
</div>
<div>
    <h4>
        ITER PROCESAL - PENAL
    </h4>
    <ol>
        <li *ngFor="let iter of lstIterPenal">
            {{iter.desc}}
        </li>
    </ol>
</div>
<div>
    <h4>
        ITER PROCESAL - CIVIL
    </h4>
    <ol>
        <li *ngFor="let iter of lstIterCivil">
            {{iter.desc}}
        </li>
    </ol>
</div>
<div>
    <h4>
        ITER PROCESAL - FAMILIA
    </h4>
    <ol>
        <li *ngFor="let iter of lstIterFamilia">
            {{iter.desc}}
        </li>
    </ol>
</div>