<br>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr class="table-info">
                <th colspan="2" style="text-align: center;">
                    ITER LABORAL
                </th>
            </tr>
            <tr class="table-info">
                <th style="text-align: center;">CÓDIGO</th>
                <th>DESCRIPCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let iter of lstIterLaboral" [ngClass]="{'table-info': !iter.eligible}">
                <td style="text-align: center;">
                    {{iter.code}}
                </td>
                <td [ngClass]="{'centrado': !iter.eligible}">
                    {{iter.title}}
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <table class="table table-bordered">
        <thead>
            <tr class="table-danger">
                <th colspan="2" style="text-align: center;">
                    ITER FAMILIA
                </th>
            </tr>
            <tr class="table-danger">
                <th style="text-align: center;">CÓDIGO</th>
                <th>DESCRIPCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let iter of lstIterFamilia" [ngClass]="{'table-danger': !iter.eligible}">
                <td style="text-align: center;">
                    {{iter.code}}
                </td>
                <td [ngClass]="{'centrado': !iter.eligible}">
                    {{iter.title}}
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <table class="table table-bordered">
        <thead>
            <tr class="table-warning">
                <th colspan="2" style="text-align: center;">
                    ITER CIVIL
                </th>
            </tr>
            <tr class="table-warning">
                <th style="text-align: center;">CÓDIGO</th>
                <th>DESCRIPCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let iter of lstIterCivil" [ngClass]="{'table-warning': !iter.eligible}">
                <td style="text-align: center;">
                    {{iter.code}}
                </td>
                <td [ngClass]="{'centrado': !iter.eligible}">
                    {{iter.title}}
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <table class="table table-bordered">
        <thead>
            <tr class="table-warning">
                <th colspan="2" style="text-align: center;">
                    ITER NOTARIAL - REGISTRAL
                </th>
            </tr>
            <tr class="table-warning">
                <th style="text-align: center;">CÓDIGO</th>
                <th>DESCRIPCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let iter of lstIterNotarial" [ngClass]="{'table-warning': !iter.eligible}">
                <td style="text-align: center;">
                    {{iter.code}}
                </td>
                <td [ngClass]="{'centrado': !iter.eligible}">
                    {{iter.title}}
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <table class="table table-bordered">
        <thead>
            <tr class="table-secondary">
                <th colspan="2" style="text-align: center;">
                    ITER PENAL
                </th>
            </tr>
            <tr class="table-secondary">
                <th style="text-align: center;">CÓDIGO</th>
                <th>DESCRIPCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let iter of lstIterPenal" [ngClass]="{'table-secondary': !iter.eligible}">
                <td style="text-align: center;">
                    {{iter.code}}
                </td>
                <td [ngClass]="{'centrado': !iter.eligible}">
                    {{iter.title}}
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <table class="table table-bordered">
        <thead>
            <tr class="table-info">
                <th colspan="2" style="text-align: center;">
                    ITER CONSTITUCIONAL
                </th>
            </tr>
            <tr class="table-info">
                <th style="text-align: center;">CÓDIGO</th>
                <th>DESCRIPCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let iter of lstIterConstitucional" [ngClass]="{'table-info': !iter.eligible}">
                <td style="text-align: center;">
                    {{iter.code}}
                </td>
                <td [ngClass]="{'centrado': !iter.eligible}">
                    {{iter.title}}
                </td>
            </tr>
        </tbody>
    </table>
</div>