<h3>Estadísticas sobre tareas del RDT semanales</h3>

<div>
  Ver semana
  <select #numeroSemana (change)="cambiarSemana($event.target)" [value]="nSemana">
    <option value="27">
      27
    </option>
    <option value="28">
      28
    </option>
    <option value="29">
      29
    </option>
    <option value="30">
      30
    </option>
    <option value="31">
      31
    </option>
    <option value="32">
      32
    </option>
    <option value="32">
      33
    </option>
  </select>
</div>

<h4>Total de tareas registradas: {{lstTareas.length}}</h4>

<hr/>

<div class="chart-container">
    <canvas  id="TipoAtencionChart" >{{ tipoAtencionChart }}</canvas>
</div>
<div class="chart-container">
  <canvas  id="TipoAtencionChart2" >{{ tipoAtencionChart2 }}</canvas>
</div>
<hr/>
<div class="chart-container">
    <canvas  id="TipoProcesoChart" >{{ tipoProcesoChart }}</canvas>
</div>
<div class="chart-container">
  <canvas  id="TipoProcesoChart2" >{{ tipoProcesoChart2 }}</canvas>
</div>
<hr/>
<div class="chart-container">
    <canvas  id="TipoClienteChart" >{{ tipoClienteChart }}</canvas>
</div>
<div class="chart-container">
  <canvas  id="TipoClienteChart2" >{{ tipoClienteChart2 }}</canvas>
</div>
<hr/>
<div class="chart-container">
  <canvas  id="TipoTareaChart" >{{ tipoTareaChart }}</canvas>
</div>
<div class="chart-container">
<canvas  id="TipoTareaChart2" >{{ tipoClienteChart2 }}</canvas>
</div>
<hr/>


<!--<div style="display: flex; overflow: scroll;">
  <table class="table table-striped" id="tareas_rdt">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">usuario</th>
        <th scope="col" class="vertical">Cliente</th>
        <th scope="col" class="vertical">Atención</th>
        <th scope="col" class="vertical">Delegado por</th>
        <th scope="col" class="vertical">Expediente</th>
        <th scope="col" class="vertical">Tipo de proceso</th>
        <th scope="col" class="vertical">Mención de la tarea</th>
        <th scope="col" class="vertical">Cliente</th>
        <th scope="col" class="vertical">Demandado</th>
        <th scope="col" class="vertical">ITER</th>
        <th scope="col" class="vertical">Avance(%)</th>
        <th scope="col" class="vertical">F. culminación</th>
        <th scope="col" class="vertical">T. Atención</th>
        <th scope="col" class="vertical">Código</th>
        <th scope="col" class="vertical">Descripción</th>
        <th scope="col" class="vertical">Acciones a realizar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarea of lstTareas; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ tarea.idrdt }}
        </td>
        <td class="vertical">
            {{ tarea.ntipocliente }}
          </td>
        <td class="vertical">
          {{ tarea.ntipoatencion }}
        </td>
        <td class="vertical">
          {{ tarea.sdelegadopor }}
        </td>
        <td class="vertical">
          {{ tarea.sexpediente }}
        </td>
        <td class="vertical">
          {{ tarea.ntipoproceso }}
        </td>
        <td>
          {{ tarea.sdestarea }}
        </td>
        <td class="vertical">
          {{ tarea.scliente }}
        </td>
        <td class="vertical">
          {{ tarea.sdemandado }}
        </td>
        <td>
          {{ tarea.niter }}
        </td>
        <td>
          {{ tarea.navance }}
        </td>
        <td class="vertical">
          {{ tarea.fculminacion }}
        </td>
        <td>
          {{ tarea.stiempoatencion }}
        </td>
        <td>
          {{ tarea.ncodeje }}
        </td>
        <td>
          {{ tarea.sdeseje }}
        </td>
        <td>
          {{ tarea.sacceje }}
        </td>
      </tr>
    </tbody>
  </table>
</div> -->


  