<h3>{{sTitulo}}</h3>

<hr/>

<div class="chart-container">
    <canvas  id="TipoAtencionChart" >{{ tipoAtencionChart }}</canvas>
</div>
<div class="chart-container">
  <canvas  id="TipoAtencionChart2" >{{ tipoAtencionChart2 }}</canvas>
</div>
<hr/>
<div class="chart-container">
    <canvas  id="TipoProcesoChart" >{{ tipoProcesoChart }}</canvas>
</div>
<div class="chart-container">
  <canvas  id="TipoProcesoChart2" >{{ tipoProcesoChart2 }}</canvas>
</div>
<hr/>
<div class="chart-container">
    <canvas  id="TipoClienteChart" >{{ tipoClienteChart }}</canvas>
</div>
<div class="chart-container">
  <canvas  id="TipoClienteChart2" >{{ tipoClienteChart2 }}</canvas>
</div>
<hr/>
<div class="chart-container">
  <canvas  id="TipoTareaChart" >{{ tipoTareaChart }}</canvas>
</div>
<div class="chart-container">
<canvas  id="TipoTareaChart2" >{{ tipoClienteChart2 }}</canvas>
</div>
<hr/>
