@if (idColaborador != 'lizbet-silva' || idColaborador != 'admin4') {
  <p>
    Asignar Tareas de sinoe
    <a routerLink="/sinoe-admin">aquí</a>
  </p>
}

<h3 style="text-align: center;">
  Tareas de SINOE
</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          Cliente
        </th>
        <th>
          Expediente
        </th>
        <th>
          Tarea
        </th>
        <th>
          Vence
        </th>
        <th>
          Estado
        </th>
        <th>
          Observaciones
        </th>
      </tr>
    </thead>
    @if (!lLoading) {
      <tbody>
        @for (t of lstTareas; track t) {
          <tr>
            <td>
              {{t.scliente}}
            </td>
            <td>
              {{t.sexpediente}}
            </td>
            <td>
              {{t.starea}}
            </td>
            <td>
              {{t.splazol}}
            </td>
            <td style="text-align: center;">
              @if (t.scolor == 'green') {
                <span style="color: green;">
                  <i class="bi bi-circle-fill"></i>
                </span>
              }
              @if (t.scolor == 'gold') {
                <span style="color: gold;">
                  <i class="bi bi-circle-fill"></i>
                </span>
              }
              @if (t.scolor == 'red') {
                <span style="color: red;">
                  <i class="bi bi-circle-fill"></i>
                </span>
              }
            </td>
            <td>
              {{t.sobservaciones}}
            </td>
          </tr>
        }
      </tbody>
    }
    @if (lLoading) {
      <tbody>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </tbody>
    }
  </table>
</div>
