<h5>
    <i class="bi bi-folder2"></i>
    Contrato
</h5>

<p>
    Documento en PDF escaneado del contrato o compromiso de pago.
</p>


<div *ngIf="!lcontrato">
    <ul>
        <li>
            <span style="color: red;">
                <strong>Sin Contrato</strong>
            </span>
        </li>
    </ul>

    <button class="btn btn-primary" (click)="openModalSetTerms(setWithTermsModal)">
        Subir contrato
    </button>
</div>

<div *ngIf="lcontrato">
    <ul>
        <li>
            <i class="bi bi-file-earmark-pdf"></i>
            <span> Contrato </span>
            <a [href]="urlcontrato" target="_blank"> Ver </a>
        </li>
    </ul>

    <button class="btn btn-primary" (click)="openModalSetTerms(setWithOutTermsModal)">
        Quitar contrato
    </button>
</div>

<div style="margin-top: 50px;">
    <span style="font-size: 0.75rem;">
        <i>
            {{expediente?.sexpediente}}
        </i>
    </span>
</div>

<hr>

<!------------------------------------------------
  -------------- UPLOAD K MODAL ------------------
  ----------------------------------------------->
<ng-template #setWithTermsModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Subir contrato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            Se subirá un archivo PDF scaneado del contrato
        </p>

        <input type="file" (change)="onFileSelected($event)" accept="application/pdf" />

        <div *ngIf="uploadProgress >= 0">
            <p>Progreso: {{ uploadProgress | number: '1.0-0' }}%</p>
            <progress [value]="uploadProgress" max="100"></progress>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="!lUpdating" [disabled]="!file" class="btn btn-primary" (click)="uploadFile()">
            <span class="sr-only" *ngIf="!lUpdating">
                Guardar
            </span>
        </button>
        <button *ngIf="lUpdating" class="btn btn-primary" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">
                Guardando...
            </span>
        </button>
    </div>
</ng-template>

<!------------------------------------------------
  --------------- REMOVE K MODAL -----------------
  ----------------------------------------------->
<ng-template #setWithOutTermsModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Quitar Contrato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            Se quitará el contrato PDF
        </p>
        <p>
            <i>
                ¿Está seguro?
            </i>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="marcarSinContrato()" *ngIf="!lUpdating">
            <span class="sr-only" *ngIf="!lUpdating">
                Quitar
            </span>
        </button>
        <button class="btn btn-danger" *ngIf="lUpdating" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only" *ngIf="lUpdating">
                Quitando...
            </span>
        </button>
    </div>
</ng-template>