<br/>

<form class="container expediente" [formGroup]="frmExpediente">
    <h4>
        <input 
            type="text" 
            placeholder="ÓRGANO JURISDICCIONAL" 
            class="form-control"
            style="text-align: center;"
            autocapitalize="characters"
            formControlName="sorganojuris"
        >
    </h4>
    <h4>
        <input 
            type="text" 
            placeholder="00000-0000-0-0000-00-00-00" 
            class="form-control"
            formControlName="sexpediente"
            style="text-align: center; background-color: lightgrey; border-color: #c1c1c1;"
        >
    </h4>
    <hr/>
    <table style="width:100%">
        <tr>
            <td>
                <b>MATERIA:</b>
            </td>
            <td>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="smateria"
                >
            </td>
        </tr>
        <tr>
            <td>
                <b>TIPO:</b>
            </td>
            <td>
                <select class="form-select" formControlName="sespecialidad">
                    <option value="LABORAL">LABORAL</option>
                    <option value="CIVIL">CIVIL</option>
                    <option value="PENAL">PENAL</option>
                    <option value="FAMILIA">FAMILIA</option>
                    <option value="CONSTITUCIONAL">CONSTITUCIONAL</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <b>ESPECIALISTA:</b>
            </td>
            <td>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="sespecialista"
                >
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDANTE:</b>
            </td>
            <td>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="sdemandante"
                >
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDADO:</b>
            </td>
            <td>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="sdemandado"
                >
            </td>
        </tr>
        <tr>
            <td>
                <b>INICIO:</b>
            </td>
            <td>
                <input 
                    type="text" 
                    placeholder="DD/MM/YYYY"
                    class="form-control"
                    formControlName="sfechainicio"
                >
            </td>
        </tr>
    </table>
    <hr/>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h6>
                AREQUIPA
            </h6>
        </div>
        <div class="col-3">
            <div style="display: flex; flex-direction: row-reverse;">
                <button 
                    class="btn btn-success" 
                    (click)="crearExpediente()"
                    [disabled]="!(frmExpediente.valid && !lCreating)"
                >
                    <span class="spinner-border spinner-border-sm" 
                        role="status" 
                        aria-hidden="true"
                        *ngIf="lCreating"
                    >
                    </span>
                    <span class="sr-only" *ngIf="!lCreating">
                        Registrar
                    </span>
                    <span class="sr-only" *ngIf="lCreating">
                        Registrando...
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>

<br/>

