<h1>
    Generador de RDTs
</h1>

<b>DATOS:</b>
<ul>
    <li>
        nDate: {{nDate}}
    </li>
    <li>
        sDate: {{sDate}}
    </li>
    <li>
        nWeek: {{nWeek}}
    </li>
    <li>
        nDay: {{nDay}}
    </li>
</ul>

<br>
<button (click)="crearRdts()" class="btn btn-primary">
    generar RDTs
</button>
<br>
<div class="container">
    <span>Listado de Colaboradores que deben realizar su RDT:</span>

    <ol>
        <li *ngFor="let user of lstUsers">
        {{ user.snombre }}: [{{user.id}}]
        </li>
    </ol>
</div>
  