<h3>Lsitado de Expedientes</h3>

<!-- <button (click)="getExpedientes()">
    Obtener Expedientes
</button>
<button (click)="descargarExcel()">
    Descargar
</button>

<textarea [formControl]="fcLab1">
</textarea>

<textarea [formControl]="fcLab2">
</textarea>

<textarea [formControl]="fcLab3">
</textarea>

<textarea [formControl]="fcLab4">
</textarea>

<textarea [formControl]="fcFamilia">
</textarea>

<textarea [formControl]="fcCivil">
</textarea>

<textarea [formControl]="fcPenal">
</textarea>

<textarea [formControl]="fcConstitucional">
</textarea> -->

<div class="container">
    <div class="input-group">
        <div class="input-group-text">
            <i class="bi bi-search">
            </i>
        </div>
        <input type="search" id="texto-busqueda" class="form-control" #fff (input)="cambio(fff.value)" autocomplete="off">
        <div class="input-group-text">
            <i class="bi bi-search"></i>
        </div>
    </div>
</div>


<div *ngIf="!lModeFiltering">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="lab1-tab" data-bs-toggle="tab" data-bs-target="#lab1-tab-pane"
                type="button" role="tab" aria-selected="true">
                LA Reposición
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="lab2-tab" data-bs-toggle="tab" data-bs-target="#lab2-tab-pane" type="button"
                role="tab" aria-selected="true">
                LA Indemnización
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="lab3-tab" data-bs-toggle="tab" data-bs-target="#lab3-tab-pane" type="button"
                role="tab" aria-selected="true">
                LA Pago de Beneficios
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="lab4-tab" data-bs-toggle="tab" data-bs-target="#lab4-tab-pane" type="button"
                role="tab" aria-selected="true">
                LA Varios
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="familia-tab" data-bs-toggle="tab" data-bs-target="#familia-tab-pane"
                type="button" role="tab" aria-selected="false">
                Familia
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="civil-tab" data-bs-toggle="tab" data-bs-target="#civil-tab-pane" type="button"
                role="tab" aria-selected="false">
                Civil
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="penal-tab" data-bs-toggle="tab" data-bs-target="#penal-tab-pane" type="button"
                role="tab" aria-selected="false">
                Penal
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="constitucional-tab" data-bs-toggle="tab"
                data-bs-target="#constitucional-tab-pane" type="button" role="tab" aria-selected="false">
                Constitucional
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="lab1-tab-pane" role="tabpanel" aria-labelledby="lab1-tab"
            tabindex="0">
            <!--  -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Expediente
                            </th>
                            <th>
                                Materia
                            </th>
                            <th>
                                Especialidad
                            </th>
                            <th>
                                Demandante
                            </th>
                            <th>
                                Demandado
                            </th>
                            <th>
                                Inicio
                            </th>
                            <th>
                                ITER
                            </th>
                            <th>
                                Contrato
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expediente of lstLaRepo; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                <a [routerLink]="'/expediente/'+expediente.sexpediente">
                                    {{expediente.sexpediente}}
                                </a>
                            </td>
                            <td>
                                {{expediente.smateria}}
                            </td>
                            <td>
                                {{expediente.sespecialidad}}
                            </td>
                            <td>
                                {{expediente.sdemandante}}
                            </td>
                            <td>
                                {{expediente.sdemandado}}
                            </td>
                            <td>
                                {{expediente.sfechainicio}}
                            </td>
                            <td>
                                {{expediente.niter}}
                            </td>
                            <td style="text-align: center;">
                                <span *ngIf="expediente.lcontrato" style="color: green;">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <br>
                                    {{expediente.nmontocontrato}}
                                </span>
                                <span *ngIf="!expediente.lcontrato">
                                    -
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--  -->
        </div>
        <div class="tab-pane fade" id="lab2-tab-pane" role="tabpanel" aria-labelledby="lab2-tab" tabindex="0">
            <!--  -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Expediente
                            </th>
                            <th>
                                Materia
                            </th>
                            <th>
                                Especialidad
                            </th>
                            <th>
                                Demandante
                            </th>
                            <th>
                                Demandado
                            </th>
                            <th>
                                Inicio
                            </th>
                            <th>
                                ITER
                            </th>
                            <th>
                                Contrato
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expediente of lstLaIndem; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                <a [routerLink]="'/expediente/'+expediente.sexpediente">
                                    {{expediente.sexpediente}}
                                </a>
                            </td>
                            <td>
                                {{expediente.smateria}}
                            </td>
                            <td>
                                {{expediente.sespecialidad}}
                            </td>
                            <td>
                                {{expediente.sdemandante}}
                            </td>
                            <td>
                                {{expediente.sdemandado}}
                            </td>
                            <td>
                                {{expediente.sfechainicio}}
                            </td>
                            <td>
                                {{expediente.niter}}
                            </td>
                            <td style="text-align: center;">
                                <span *ngIf="expediente.lcontrato" style="color: green;">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <br>
                                    {{expediente.nmontocontrato}}
                                </span>
                                <span *ngIf="!expediente.lcontrato">
                                    -
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--  -->
        </div>
        <div class="tab-pane fade" id="lab3-tab-pane" role="tabpanel" aria-labelledby="lab3-tab" tabindex="0">
            <!--  -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Expediente
                            </th>
                            <th>
                                Materia
                            </th>
                            <th>
                                Especialidad
                            </th>
                            <th>
                                Demandante
                            </th>
                            <th>
                                Demandado
                            </th>
                            <th>
                                Inicio
                            </th>
                            <th>
                                ITER
                            </th>
                            <th>
                                Contrato
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expediente of lstLaPBSE; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                <a [routerLink]="'/expediente/'+expediente.sexpediente">
                                    {{expediente.sexpediente}}
                                </a>
                            </td>
                            <td>
                                {{expediente.smateria}}
                            </td>
                            <td>
                                {{expediente.sespecialidad}}
                            </td>
                            <td>
                                {{expediente.sdemandante}}
                            </td>
                            <td>
                                {{expediente.sdemandado}}
                            </td>
                            <td>
                                {{expediente.sfechainicio}}
                            </td>
                            <td>
                                {{expediente.niter}}
                            </td>
                            <td style="text-align: center;">
                                <span *ngIf="expediente.lcontrato" style="color: green;">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <br>
                                    {{expediente.nmontocontrato}}
                                </span>
                                <span *ngIf="!expediente.lcontrato">
                                    -
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--  -->
        </div>
        <div class="tab-pane fade" id="lab4-tab-pane" role="tabpanel" aria-labelledby="lab4-tab" tabindex="0">
            <!--  -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Expediente
                            </th>
                            <th>
                                Materia
                            </th>
                            <th>
                                Especialidad
                            </th>
                            <th>
                                Demandante
                            </th>
                            <th>
                                Demandado
                            </th>
                            <th>
                                Inicio
                            </th>
                            <th>
                                ITER
                            </th>
                            <th>
                                Contrato
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expediente of lstLaOtros; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                <a [routerLink]="'/expediente/'+expediente.sexpediente">
                                    {{expediente.sexpediente}}
                                </a>
                            </td>
                            <td>
                                {{expediente.smateria}}
                            </td>
                            <td>
                                {{expediente.sespecialidad}}
                            </td>
                            <td>
                                {{expediente.sdemandante}}
                            </td>
                            <td>
                                {{expediente.sdemandado}}
                            </td>
                            <td>
                                {{expediente.sfechainicio}}
                            </td>
                            <td>
                                {{expediente.niter}}
                            </td>
                            <td style="text-align: center;">
                                <span *ngIf="expediente.lcontrato" style="color: green;">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <br>
                                    {{expediente.nmontocontrato}}
                                </span>
                                <span *ngIf="!expediente.lcontrato">
                                    -
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--  -->
        </div>

        <div class="tab-pane fade" id="familia-tab-pane" role="tabpanel" aria-labelledby="familia-tab" tabindex="0">
            <!--  -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Expediente
                            </th>
                            <th>
                                Materia
                            </th>
                            <th>
                                Especialidad
                            </th>
                            <th>
                                Demandante
                            </th>
                            <th>
                                Demandado
                            </th>
                            <th>
                                Inicio
                            </th>
                            <th>
                                ITER
                            </th>
                            <th>
                                Contrato
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expediente of lstFamil; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                <a [routerLink]="'/expediente/'+expediente.sexpediente">
                                    {{expediente.sexpediente}}
                                </a>
                            </td>
                            <td>
                                {{expediente.smateria}}
                            </td>
                            <td>
                                {{expediente.sespecialidad}}
                            </td>
                            <td>
                                {{expediente.sdemandante}}
                            </td>
                            <td>
                                {{expediente.sdemandado}}
                            </td>
                            <td>
                                {{expediente.sfechainicio}}
                            </td>
                            <td>
                                {{expediente.niter}}
                            </td>
                            <td style="text-align: center;">
                                <span *ngIf="expediente.lcontrato" style="color: green;">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <br>
                                    {{expediente.nmontocontrato}}
                                </span>
                                <span *ngIf="!expediente.lcontrato">
                                    -
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--  -->
        </div>
        <div class="tab-pane fade" id="civil-tab-pane" role="tabpanel" aria-labelledby="civil-tab" tabindex="0">
            <!--  -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Expediente
                            </th>
                            <th>
                                Materia
                            </th>
                            <th>
                                Especialidad
                            </th>
                            <th>
                                Demandante
                            </th>
                            <th>
                                Demandado
                            </th>
                            <th>
                                Inicio
                            </th>
                            <th>
                                ITER
                            </th>
                            <th>
                                Contrato
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expediente of lstCivil; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                <a [routerLink]="'/expediente/'+expediente.sexpediente">
                                    {{expediente.sexpediente}}
                                </a>
                            </td>
                            <td>
                                {{expediente.smateria}}
                            </td>
                            <td>
                                {{expediente.sespecialidad}}
                            </td>
                            <td>
                                {{expediente.sdemandante}}
                            </td>
                            <td>
                                {{expediente.sdemandado}}
                            </td>
                            <td>
                                {{expediente.sfechainicio}}
                            </td>
                            <td>
                                {{expediente.niter}}
                            </td>
                            <td style="text-align: center;">
                                <span *ngIf="expediente.lcontrato" style="color: green;">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <br>
                                    {{expediente.nmontocontrato}}
                                </span>
                                <span *ngIf="!expediente.lcontrato">
                                    -
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--  -->
        </div>
        <div class="tab-pane fade" id="penal-tab-pane" role="tabpanel" aria-labelledby="penal-tab" tabindex="0">
            <!--  -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Expediente
                            </th>
                            <th>
                                Materia
                            </th>
                            <th>
                                Especialidad
                            </th>
                            <th>
                                Demandante
                            </th>
                            <th>
                                Demandado
                            </th>
                            <th>
                                Inicio
                            </th>
                            <th>
                                ITER
                            </th>
                            <th>
                                Contrato
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expediente of lstPenal; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                <a [routerLink]="'/expediente/'+expediente.sexpediente">
                                    {{expediente.sexpediente}}
                                </a>
                            </td>
                            <td>
                                {{expediente.smateria}}
                            </td>
                            <td>
                                {{expediente.sespecialidad}}
                            </td>
                            <td>
                                {{expediente.sdemandante}}
                            </td>
                            <td>
                                {{expediente.sdemandado}}
                            </td>
                            <td>
                                {{expediente.sfechainicio}}
                            </td>
                            <td>
                                {{expediente.niter}}
                            </td>
                            <td style="text-align: center;">
                                <span *ngIf="expediente.lcontrato" style="color: green;">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <br>
                                    {{expediente.nmontocontrato}}
                                </span>
                                <span *ngIf="!expediente.lcontrato">
                                    -
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--  -->
        </div>
        <div class="tab-pane fade" id="constitucional-tab-pane" role="tabpanel" aria-labelledby="constitucional-tab"
            tabindex="0">
            <!--  -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Expediente
                            </th>
                            <th>
                                Materia
                            </th>
                            <th>
                                Especialidad
                            </th>
                            <th>
                                Demandante
                            </th>
                            <th>
                                Demandado
                            </th>
                            <th>
                                Inicio
                            </th>
                            <th>
                                ITER
                            </th>
                            <th>
                                Contrato
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expediente of lstConst; let i = index">
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                <a [routerLink]="'/expediente/'+expediente.sexpediente">
                                    {{expediente.sexpediente}}
                                </a>
                            </td>
                            <td>
                                {{expediente.smateria}}
                            </td>
                            <td>
                                {{expediente.sespecialidad}}
                            </td>
                            <td>
                                {{expediente.sdemandante}}
                            </td>
                            <td>
                                {{expediente.sdemandado}}
                            </td>
                            <td>
                                {{expediente.sfechainicio}}
                            </td>
                            <td>
                                {{expediente.niter}}
                            </td>
                            <td style="text-align: center;">
                                <span *ngIf="expediente.lcontrato" style="color: green;">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <br>
                                    {{expediente.nmontocontrato}}
                                </span>
                                <span *ngIf="!expediente.lcontrato">
                                    -
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<div *ngIf="lModeFiltering">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Expediente
                    </th>
                    <th>
                        Materia
                    </th>
                    <th>
                        Especialidad
                    </th>
                    <th>
                        Demandante
                    </th>
                    <th>
                        Demandado
                    </th>
                    <th>
                        Inicio
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expediente of lstExpedientesFiltered; let i = index">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        <a [routerLink]="'/expediente/'+expediente.sexpediente">
                            {{expediente.sexpediente}}
                        </a>
                    </td>
                    <td>
                        {{expediente.smateria}}
                    </td>
                    <td>
                        {{expediente.sespecialidad}}
                    </td>
                    <td>
                        {{expediente.sdemandante}}
                    </td>
                    <td>
                        {{expediente.sdemandado}}
                    </td>
                    <td>
                        {{expediente.sfechainicio}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>