<div class="container formulario mt-3">
  <h4>Formulario de registro</h4>
  <h4>de nuevo usuario</h4>
  <br/>
  <form [formGroup]="frmUsuario" autocomplete="off">
    <div class="row mb-3">
      <div class="col-3">
        <label for="nombre" class="form-label">
          Nombre:
        </label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control" id="nombre" formControlName="nombre" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-3">
        <label for="nick" class="form-label">
          Nick / Alias:
        </label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control" id="nick" formControlName="nick" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-3">
        <label for="departamento" class="form-label">
          Rol:
        </label>
      </div>
      <div class="col-4">
        <select id="rol" formControlName="rol" class="form-select">
          <option value="lider">Líder</option>
          <option value="asistente">Asistente</option>
          <option value="recepcionista">Recepcionista</option>
        </select>
      </div>
      <div class="col-5">
        <select id="departamento" formControlName="departamento" class="form-select">
          <option value="laboral">Laboral</option>
          <option value="familia">Familia</option>
          <option value="civil">Civil</option>
          <option value="penal">Penal</option>
          <option value="administracion">Administracion</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-3">
        <label for="email" class="form-label">
          Email:
        </label>
      </div>
      <div class="col-9">
        <input type="email" class="form-control" id="email" formControlName="email" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-3">
        <label for="pass" class="form-label">
          Contraseña:
        </label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control" id="pass" formControlName="pass" />
      </div>
    </div>
  </form>
  <div>
    @if (!registrando) {
    <button class="btn btn-primary" (click)="registrarUsuario()" [disabled]="!frmUsuario.valid">
      Registrar
    </button>
    }
    @if (registrando) {
    <button class="btn btn-primary" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Registrando...
    </button>
    }
  </div>

</div>