<div class="contrato" *ngIf="lContrato">
    <h1>Contrato</h1>
    <div>
        <b>
            Monto:
        </b>
        <span>
            {{objContrato.nmonto}}
        </span>
    </div>
    <div>
        <b>
            Detalle:
        </b>
        <span>
            {{objContrato.sdetalle}}
        </span>
    </div>
    <div>
        <a [href]="'https://google.com'">Ver contrato aqui</a>
    </div>
</div>

<div class="contrato" *ngIf="!lContrato">
    Sin datos del Contrato
</div>

<!-----------------------------------------------
--------------- CONTRATO MODAL ------------------
------------------------------------------------>
<ng-template #contratoModal let-modal>
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contrato</h4>
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
    ></button>
</div>
<div class="modal-body">
    Esta a punto de subir el contrato escaneado en <b>PDF</b>.
    <div>
        <label for="archivocontrato">Archivo PDF: </label>
        <input type="file" id="archivocontrato" #inputcontrato>
    </div>
</div>
<div class="modal-footer">
    <button 
        class="btn btn-primary" 
        (click)="uploadContrato(inputcontrato)"
        [disabled]="lUploadingContrato"
    >
        <span class="spinner-border spinner-border-sm" 
            role="status" 
            aria-hidden="true"
            *ngIf="lUploadingContrato"
        ></span>
        <span class="sr-only" *ngIf="!lUploadingContrato">
            Subir
        </span>
        <span class="sr-only" *ngIf="lUploadingContrato">
            Subiendo...
        </span>
    </button>
</div>
</ng-template>

<!-----------------------------------------------
---------------- ############# ------------------
------------------------------------------------>