<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Expediente
                </th>
                <th>
                    Materia
                </th>
                <th>
                    Especialidad
                </th>
                <th>
                    Demandante
                </th>
                <th>
                    Demandado
                </th>
                <th>
                    Inicio
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expediente of lstExpedientes; let i = index">
                <td>
                    {{i+1}}
                </td>
                <td>
                    <a [routerLink]="'/expediente/'+expediente.sexpediente">
                        {{expediente.sexpediente}}
                    </a>
                </td>
                <td>
                    {{expediente.smateria}}
                </td>
                <td>
                    {{expediente.sespecialidad}}
                </td>
                <td>
                    {{expediente.sdemandante}}
                </td>
                <td>
                    {{expediente.sdemandado}}
                </td>
                <td>
                    {{expediente.sfechainicio}}
                </td>
            </tr>
        </tbody>
    </table>
</div>