<div class="container">
    <h4>Usuarios Cesados</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Fecha cese</th>
            </tr>
        </thead>
        @if (!cargando) {
        <tbody>
            @for (usuario of usuarios; track usuario.uid; let i = $index) {
            <tr>
                <td>
                    {{i + 1}}
                </td>
                <td>
                    <a [routerLink]="'/usuario/'+usuario.uid">
                        {{usuario.nombre}}
                    </a>
                </td>
                <td>
                    {{usuario.email}}
                </td>
                <td>
                    {{usuario.fechaRetiro | date: 'dd/MM/yyyy'}}
                </td>
            </tr>
            }
        </tbody>
        } @else {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Cargando...
        }
    </table>
</div>