<h4 style="text-align: center;">
  Tareo Diario (RDT) - Supervisor LTS
</h4>
<div>
  <label for="fecha">Fecha: </label>
  <input type="date" id="fecha" [formControl]="fcFecha" (change)="obtenerTareos()">

  <label for="usuario">Usuario: </label>
  <select id="usuario" [formControl]="fcUsuario" (change)="obtenerTareos()">
    <option value="null">- Seleccione -</option>
    @for (usuario of usuarios; track usuario) {
      <option [value]="usuario.id">
        {{usuario.nombre}}
      </option>
    }
  </select>
</div>
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          Nombre
        </th>
        <th>
          Fecha
        </th>
        <th>
          Hora entrada
        </th>
        <th>
          Hora salida
        </th>
        <th>
          Observaciones
        </th>
        <th>
          Acciones
        </th>
      </tr>
    </thead>
    @if (!cargando && tareos.length > 0) {
      <tbody>
        @for (tareo of tareos; track tareo) {
          <tr>
            <td>
              {{tareo.nombreUsuario}}
            </td>
            <td>
              {{tareo.fecha}}
            </td>
            <td>
              <!-- {{tareo.entradaHora}}:{{tareo.entradaMinuto}} -->
            </td>
            <td>
              <!-- {{tareo.salidaHora}}:{{tareo.salidaMinuto}} -->
            </td>
            <td>
              {{tareo.observaciones}}
            </td>
            <td>
              <a class="btn btn-outline-success btn-sm" [routerLink]="'/rdt/' + tareo.idTareo" target="_blank">
                Ver
              </a>
            </td>
          </tr>
        }
      </tbody>
    }

    @if (!cargando && tareos.length == 0) {
      <tbody>
        Sin datos :/
      </tbody>
    }

    @if (cargando) {
      <tbody>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        cargando...
      </tbody>
    }
  </table>
</div>