<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="user?(user.displayName=='ADMIN'?'admin-rdt':'colaborador-rdt'):'/login'">
      <h1>Silva Guillén</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown" *ngIf="false">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Expedientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/expediente-search"> Buscar Expediente </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/expediente-new"> Registrar Expediente </a>
            </li>
          </ul>
        </li>

        <li class="nav-item" *ngIf="!!user">
          <a class="nav-link" routerLink="/expediente-search"> Buscar </a>
        </li>

        <li class="nav-item" *ngIf="!!user">
          <a class="nav-link" routerLink="/recursos"> Recursos </a>
        </li>

        <li class="nav-item dropdown" *ngIf="user?.displayName=='ADMIN'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Generadores
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/expediente-new"> Registrar Expediente </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/rdt-generator"> Generar RDT - diario </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/stats-generator"> Generar estadísticas </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/asistencia"> Asistencia </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/usuarios"> Usuarios </a>
            </li>
          </ul>
        </li>

        <li class="nav-item" *ngIf="user?.displayName=='ADMIN'">
          <a class="nav-link" routerLink="/stats-rdt">Stadisticas</a>
        </li>

        <li>

        </li>
      </ul>

      <ul class="navbar-nav d-flex flex-row ms-auto me-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            {{user?user.displayName:'Identificarse'}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/login"> Log-In </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/logout"> Log-out </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <div style="height: 50px; background-color: #087060;">

</div> -->