<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="user?(user.displayName=='ADMIN'?'admin-rdt':'colaborador-rdt'):'/login'">
      <h1>Silva Guillén</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown" *ngIf="false">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Expedientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/expediente-search"> Buscar Expediente </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/expediente-new"> Registrar Expediente </a>
            </li>
          </ul>
        </li>

        <li class="nav-item" *ngIf="!!user">
          <a class="nav-link" routerLink="/recursos"> Recursos </a>
        </li>

        <li class="nav-item dropdown" *ngIf="user?.displayName=='ADMIN' || user?.displayName=='Lizbet Silva Guillén'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Generadores
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/expediente-new"> Registrar EXP </a>
            </li>
            <!-- <li>
              <a class="dropdown-item" routerLink="/expedientes-updater"> Actualizador EXP </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/expediente-search"> Buscador EXP </a>
            </li> -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" routerLink="/rdt-generator"> Generar RDT - diario </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/usuarios"> Usuarios </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/sign-up"> Registrar Usuario </a>
            </li>
            <!-- <li>
              <a class="dropdown-item" routerLink="/stats-generator"> Generar RDT - stats </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/stats-rdt"> Ver RDT - stats </a>
            </li> -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" routerLink="/asistencia"> Asistencias </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/pagos-honorarios"> Cobranzas </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/informe-comunicacion"> Comunicaciones </a>
            </li>
          </ul>
        </li>

        <li class="nav-item" *ngIf="!!user">
          <a class="nav-link" routerLink="/expedientes-listing">
            Expedientes
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="!!user">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Sprints
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li>
              <a class="dropdown-item" routerLink="/sprints">
                <!-- <i class="bi bi-flag"></i> -->
                <i class="bi bi-ticket-perforated"></i>
                <span style="padding-left: 5px;">
                  Tickets
                </span>
              </a>
              <a class="dropdown-item" routerLink="/sprint-new" *ngIf="user?.displayName=='ADMIN' && false">
                <i class="bi bi-node-plus"></i>
                <span style="padding-left: 5px;">
                  Tickets
                </span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" routerLink="/sinoe-worker">
                <i class="bi bi-mailbox"></i>
                <span style="padding-left: 5px;">
                  SINOE
                </span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/demandas">
                <i class="bi bi-file-earmark-text"></i>
                <span style="padding-left: 5px;">
                  Demandas
                </span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="!!user">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-calendar4-range"></i>
            Planners
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <li>
              <a class="dropdown-item" routerLink="/audiencias">
                Planner de Audiencias
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/citas">
                Planner de Citas
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/cobranzas">
                Planner de Cobranzas
              </a>
            </li>
          </ul>
        </li>


        <!-- <li class="nav-item" *ngIf="!!user && user?.displayName!='Lizbet Silva Guillén' && user?.displayName!='ADMIN'">
          <a class="nav-link" routerLink="/expediente-search"> Buscador EXP </a>
        </li> -->

        <li class="nav-item" *ngIf="user?.displayName=='Lizbet Silva Guillén'">
          <a class="nav-link" routerLink="/admin-rdt"> RDTs </a>
        </li>

      </ul>

      <ul class="navbar-nav d-flex flex-row ms-auto me-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            {{user?user.displayName:'Identificarse'}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/login"> Log-In </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/logout"> Log-out </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>