<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <h1>Silva Guillén</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/colaborador-rdt">Colaborador RDT </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/admin-rdt"> Admin RDT</a>
        </li> -->
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/expedientes"
            >Expedientes</a
          >
        </li> -->

        
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Expedientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/expediente-search"> Buscar Expediente </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/expediente-new"> Registrar Expediente </a>
            </li>
          </ul>
        </li> -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            USER
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/login"> Log-In </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/logout"> Log-out </a>
            </li>
            <!-- <li>
              <hr class="dropdown-divider" />
            </li> -->
            <!-- <li>
              <a class="dropdown-item" routerLink="/penal"> Penal </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/Familia"> Familia </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/Constitucional"> Constitucional </a>
            </li> -->
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

