<h5>
    <i class="bi bi-link"></i> 
    Anexos
</h5>

<p>
    Aquí se encuentran documentos importantes y puntuales del expediente.
    Se coloca el URL de tales documentos.
</p>

<!---------- NO MATCH ---------->
<div *ngIf="urlassets == 'sin-url'">
    
    <div>
        URL actual: 
        <kbd>
            <span>·</span>
            sin url
            <span>·</span>
        </kbd>
    </div>
    <br>
    <div>
        <button class="btn btn-secondary" (click)="openModalSetURL(setURLModal)">
            Establecer URL
        </button>
    </div>
</div>
<!---------- -- -- -- ---------->
<!---------- DO MATCH ---------->
<div *ngIf="urlassets != 'sin-url'">
    
    <div>
        URL actual: 
        <kbd>
            {{urlassets}}
        </kbd>
    </div>
    <br>
    <div>
        <button class="btn btn-secondary" (click)="openModalRemoveURL(removeURLModal)">
            Desvincular
        </button>
    </div>
</div>
<!---------- -- -- -- ---------->


<div style="margin-top: 50px;">
    <span style="font-size: 0.75rem;">
        <i>
            {{sexpediente}}
        </i>
    </span>
</div>

<hr>

<!------------------------------------------------
  --------------- SET URL MODAL ------------------
  ----------------------------------------------->
<ng-template #setURLModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Vincular URL</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <input type="text" [formControl]="fcURL" class="form-control" placeholder="https://...">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="setURL()" [disabled]="!(fcURL.valid && !lUpdating)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lUpdating">
            </span>
            <span class="sr-only" *ngIf="!lUpdating">
                Vincular
            </span>
            <span class="sr-only" *ngIf="lUpdating">
                Vinculando...
            </span>
        </button>
    </div>
</ng-template>

<!------------------------------------------------
  -------------- REMOVE URL MODAL ----------------
  ----------------------------------------------->
<ng-template #removeURLModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Desvincular URL</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            Se desvinculará el URL.
        </p>
        <p>
            <i>
                ¿Está seguro?
            </i>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="removeURL()">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lUpdating">
            </span>
            <span class="sr-only" *ngIf="!lUpdating">
                Desvincular
            </span>
            <span class="sr-only" *ngIf="lUpdating">
                Desvinculando...
            </span>
        </button>
    </div>
</ng-template>