<h3>
    Observaciones
</h3>

<div>
    <textarea cols="30" rows="10" [formControl]="fcObs" class="form-control">
    </textarea>
</div>

<br>

<button class="btn btn-primary" (click)="setObs()" *ngIf="!lUpdating">
    Guardar
</button>
<button class="btn btn-primary" *ngIf="lUpdating">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Guardando...
</button>


<div style="margin-top: 50px;">
    <span style="font-size: 0.75rem;">
        <i>
            {{sexpediente}}
        </i>
    </span>
</div>