<div *ngIf="!expediente?.lactive" style="color: red;">
    <i class="bi bi-exclamation-triangle"></i> 
    Depurado
</div>
<div class="container expediente">
    <h4>
        {{expediente?.idtipodoc}}
    </h4>
    <h4 id="sexpediente">
        {{expediente?.sexpediente}}
    </h4>
    <h5 *ngIf="expediente?.smatchexp !== 'no-match'">
        <a [routerLink]="['/', 'expediente', expediente?.smatchexp]">
            {{expediente?.smatchexp}}
        </a>
    </h5>
    <hr />
    <table style="width: 100%;">
        <tr>
            <td>
                <b>MATERIA:</b>
            </td>
            <td>
                {{expediente?.smateria}}
            </td>
        </tr>
        <tr>
            <td>
                <b>SALA:</b>
            </td>
            <td>
                {{expediente?.sorganojuris}}
            </td>
        </tr>
        <tr>
            <td>
                <b>ESPECIALIDAD:</b>
            </td>
            <td>
                {{expediente?.sespecialidad}}
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDANTE:</b>
            </td>
            <td>
                {{expediente?.sdemandante}}
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDADO:</b>
            </td>
            <td>
                {{expediente?.sdemandado}}
            </td>
        </tr>
        <tr>
            <td>
                <b>CONTRATO:</b>
            </td>
            <td>
                <span *ngIf="expediente?.lcontrato">
                    OK
                    <a [href]="urlcontrato" target="_blank" *ngIf="urlcontrato">
                        ver contrato
                    </a>
                </span>
                <span *ngIf="!expediente?.lcontrato" style="color: red;">
                    <b>SIN CONTRATO</b>
                </span>
            </td>
        </tr>
        <tr *ngIf="expediente?.scodigo != 'XX-XXXX'">
            <td>
                <b>CÓDIGO:</b>
            </td>
            <td>
                <span style="background-color: lightgrey; border-radius: 4px;">
                    {{expediente?.scodigo}}
                </span>
            </td>
        </tr>
    </table>
    <hr />
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h6>
                AREQUIPA
            </h6>
            <h6>
                <small>
                    {{expediente?.sfechainicio}}
                </small>
            </h6>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>

<div style="margin-top: 50px;">
    <span style="font-size: 0.75rem;">
        <i>
            {{expediente?.sexpediente}}
        </i>
    </span>
</div>