<div *ngIf="expediente?.estado == 'FINALIZADO'" style="color: red;">
    <i class="bi bi-exclamation-triangle"></i>
    Depurado - {{expediente?.motivoFinalizacion}}
</div>
<div class="container expediente">
    <h4>
        {{expediente?.clase}}
    </h4>
    <h4 id="sexpediente">
        {{expediente?.numero}}
    </h4>
    <hr />
    <table style="width: 100%;">
        <tr>
            <td>
                <b>MATERIA:</b>
            </td>
            <td>
                {{expediente?.materia}}
            </td>
        </tr>
        <tr>
            <td>
                <b>SALA:</b>
            </td>
            <td>
                {{expediente?.juzgado}}
            </td>
        </tr>
        <tr>
            <td>
                <b>ESPECIALIDAD:</b>
            </td>
            <td>
                {{expediente?.especialidad}}
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDANTE:</b>
            </td>
            <td>
                {{expediente?.demandante}}
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDADO:</b>
            </td>
            <td>
                {{expediente?.demandado}}
            </td>
        </tr>
        <tr>
            <td>
                <b>CONTRATO:</b>
            </td>
            <td>
                <span *ngIf="expediente?.tieneContrato">
                    OK
                    <a [href]="urlcontrato" target="_blank" *ngIf="urlcontrato">
                        ver contrato
                    </a>
                </span>
                <span *ngIf="!expediente?.tieneContrato" style="color: red;">
                    <b>SIN CONTRATO</b>
                </span>
            </td>
        </tr>
        <tr *ngIf="expediente?.codigo != null">
            <td>
                <b>CÓDIGO:</b>
            </td>
            <td>
                <span style="background-color: lightgrey; border-radius: 4px;">
                    {{expediente?.codigo}}
                </span>
            </td>
        </tr>
        <hr *ngIf="expediente?.numeroCasacion != null || expediente?.numeroCautelar != null"/>
        <tr *ngIf="expediente?.numeroCasacion != null">
            <td>
                <b>CASACION:</b>
            </td>
            <td>
                <span>
                    {{expediente?.numeroCasacion}}
                </span>
                <span>
                    ({{expediente?.salaCasacion}})
                </span>
            </td>
        </tr>
        <tr *ngIf="expediente?.numeroCautelar != null">
            <td>
                <b>CUADERNOS:</b>
            </td>
            <td>
                <ul>
                    <li *ngFor="let cautelar of cautelares">
                        <a [routerLink]="'/expediente/'+cautelar">
                            {{cautelar}}
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <hr />
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h6>
                AREQUIPA, {{expediente?.fechaInicio}}
            </h6>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>

<div style="margin-top: 50px;">
    <span style="font-size: 0.75rem;">
        <i>
            {{expediente?.numero}}
        </i>
    </span>
</div>