<div class="container">
    <h4 style="text-align: center;">Planner de Cobranzas</h4>

    <form [formGroup]="frmDate">
        Hay <b> {{cobranzas.length}} cobros programados</b>.

        <label for="smes">Mes:</label>
        <select id="smes" formControlName="smes" (change)="cambiarFecha()">
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
        <label for="sanio" style="padding-left: 5px;">Año:</label>
        <select id="sanio" formControlName="sanio" (change)="cambiarFecha()">
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
        </select>
    </form>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="text-align: center; width: 15%;">Fecha</th>
                    <th>Expediente</th>
                    <th style="width: 35%;">Detalle</th>
                </tr>
            </thead>
            <tbody *ngIf="!cargando && cobranzas.length > 0">
                <tr *ngFor="let cobro of cobranzas">
                    <td style="text-align: center; vertical-align: middle;">
                        {{cobro.nombreDia}},
                        <br>
                        {{cobro.numeroDia}} de {{cobro.nombreMes}}
                    </td>
                    <td>
                        <ul>
                            <li>
                                Area: <span class="tipo-cobro {{cobro.sespecialidad}}">
                                    {{cobro.sespecialidad}}
                                </span>
                            </li>
                            <li>
                                DTE: {{cobro.sdemandante}}
                            </li>
                            <li>
                                DDO: {{cobro.sdemandado}}
                            </li>
                            <li>
                                EXP: <a [routerLink]="'/expediente/'+cobro.sexpediente">{{cobro.sexpediente}}</a>
                                ({{cobro.smateria}})
                            </li>
                        </ul>
                    </td>
                    <td (dblclick)="openModalCobranza(cobro.idcontrato, cobro.sobs, editObsModal)" style="cursor: pointer;">
                        <ul>
                            <li>
                                Monto a cobrar: <b>S/ {{cobro.nmonto | number:'2.2-2'}}</b>
                            </li>
                            <li>
                                Concepto: <i>{{cobro.sdetalle}}</i>
                            </li>
                            <li *ngIf="cobro.sobs">
                                Nota: {{cobro.sobs}}
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!cargando && cobranzas.length == 0">
                No hay cobros programados en este mes
            </tbody>
            <tbody *ngIf="cargando">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Cargando...
            </tbody>
        </table>
    </div>
    <div style="font-size: 12px;" *ngIf="!cargando">
        <strong>NOTA:</strong>
        <p>
            Registro obtenido a partir de los <i>CONTRATOS</i> o <i>COMPROMISOS DE PAGO</i> registrados en los
            expedientes.
        </p>
    </div>
</div>

<!---------------------------------------------------------
  ----------- MODAL PARA EDITAR OBSERVACIONES -------------
  -------------------------------------------------------->
<ng-template #editObsModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Observaciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="frmCobranza">
            <textarea rows="5" name="sacuerdos" formControlName="sobs" class="form-control">
            </textarea>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateCobranza()"
            [disabled]="!(frmCobranza.valid && !lUpdating)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lUpdating">
            </span>
            <span class="sr-only" *ngIf="!lUpdating">
                Anotar
            </span>
            <span class="sr-only" *ngIf="lUpdating">
                Anotando...
            </span>
        </button>
    </div>
</ng-template>