<div class="container expediente">
    <h4>
        {{objExpediente.idtipodoc}}
    </h4>
    <h4 *ngIf="!lLoading" id="sexpediente">
        {{objExpediente.sexpediente}}
    </h4>
    <h4 *ngIf="lLoading">
        <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="sr-only"></span>
        </div>
    </h4>
    <h5 *ngIf="objExpediente.smatchexp && !lLoading">
        <a [routerLink]="['/', 'expediente', objExpediente.smatchexp]">
            {{objExpediente.smatchexp}}
        </a>
    </h5>
    <hr />
    <table style="width: 100%;">
        <tr>
            <td>
                <b>MATERIA:</b>
            </td>
            <td *ngIf="!lLoading">
                {{objExpediente.smateria}}
            </td>
            <td *ngIf="lLoading" style="width: 60%;">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>SALA:</b>
            </td>
            <td *ngIf="!lLoading">
                {{objExpediente.sorganojuris}}
            </td>
            <td *ngIf="lLoading">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>RAMA:</b>
            </td>
            <td *ngIf="!lLoading">
                {{objExpediente.sespecialidad}}
            </td>
            <td *ngIf="lLoading">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>ESPECIALISTA:</b>
            </td>
            <td *ngIf="!lLoading">
                {{objExpediente.sespecialista}}
            </td>
            <td *ngIf="lLoading">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDANTE:</b>
            </td>
            <td *ngIf="!lLoading">
                {{objExpediente.sdemandante}}
            </td>
            <td *ngIf="lLoading">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDADO:</b>
            </td>
            <td *ngIf="!lLoading">
                {{objExpediente.sdemandado}}
            </td>
            <td *ngIf="lLoading">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>INICIO:</b>
            </td>
            <td *ngIf="!lLoading">
                {{objExpediente.sfechainicio}}
            </td>
            <td *ngIf="lLoading">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only"></span>
                </div>
            </td>
        </tr>
        <tr *ngIf="objExpediente.scodigo != 'XX-XXXX'">
            <td>
                <b>CÓDIGO:</b>
            </td>
            <td *ngIf="!lLoading">
                <span style="background-color: lightgrey; border-radius: 4px;">
                    {{objExpediente.scodigo}}
                </span>
            </td>
            <td *ngIf="lLoading">
                <div class="spinner-grow spinner-grow-sm" role="status">
                    <span class="sr-only"></span>
                </div>
            </td>
        </tr>
    </table>
    <hr />
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <h6>
                AREQUIPA
            </h6>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>

<div style="margin-top: 50px;">
    <span style="font-size: 0.75rem;">
        <i>
            {{sexpediente}}
        </i>
    </span>
</div>