.expediente {
    border-radius: 5px; 
    border: 1px solid #ccc;
    padding: 24px;
    max-width: 720px;
    margin-top: 10px;
    h4, h5, h6 {
        text-align: center;
    }
    table {
        border-collapse: separate;
        border-spacing: 10px;
        td {
            vertical-align: top;
        }
    }
    div.spinner-grow {
        width: 100%;
        border-radius: 10px;
        color: lightgrey;
    }
    #sexpediente {
        background-color: lightgrey;
        border-radius: 5px;
        padding: 5px;
        font-family: monospace;
    }
}