<h3>REPORTE DIARIO DE TRABAJO</h3>

<label>Ver: </label>
<input type="date" [formControl]="dFechaBusqueda" (change)="getRdts()">

<hr />

<h4>Listado de RTDs</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Colaborador</th>
      <th>Fecha</th>
      <th>Hora entrada</th>
      <th>Hora salida</th>
      <th>Editable</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rdt of lstRdts; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ rdt.scolaborador }}</td>
      <td>{{ rdt.sfecha }}</td>
      <td>{{ rdt.shoraingreso + ":" + rdt.sminutoingreso }}</td>
      <td>{{ rdt.shorasalida + ":" + rdt.sminutosalida }}</td>
      <td>
        <div class="form-check form-switch">
          <input
            mdbCheckbox
            class="form-check-input"
            type="checkbox"
            [checked]="rdt.leditable"
            (click)="toggleEditable(rdt.idrdt, rdt.leditable)"
          />
        </div>
      </td>
      <td>
        <a class="btn btn-outline-success" [routerLink]="'/rdt/' + rdt.idrdt">
          Ver
        </a>
      </td>
    </tr>
  </tbody>
</table>

<hr />

<div>
  <button class="btn btn-primary" (click)="descargarExcel()">
    Descargar EXCEL
  </button>
</div>

<hr />
