<div style="display: flex;">
    <span>
        <button (click)="cambiarModo()" *ngIf="lViewMode" class="btn btn-secondary btn-sm">
            <i class="bi bi-lock-fill"></i>
        </button>
        <button (click)="cambiarModo()" *ngIf="!lViewMode" class="btn btn-outline-success btn-sm">
            <i class="bi bi-unlock-fill"></i>
        </button>
    </span>
    <span style="flex: auto 1; font-size: 1.5rem;"></span>
</div>

<div class="row">
    <h4>
        Registro de comunicación
        <button (click)="openNewChatModal(newChatModal)" class="btn btn-success btn-sm" *ngIf="!lViewMode">
            + Add
        </button>
    </h4>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Motivo
                </th>
                <th>
                    Encargado
                </th>
                <th *ngIf="!lViewMode">
                    Editar
                </th>
                <th *ngIf="!lViewMode">
                    Quitar
                </th>
            </tr>
        </thead>
        <tbody *ngIf="!lLoading && lstChats.length > 0">
            <tr *ngFor="let c of lstChats">
                <td>
                    {{c.sfechal}}
                </td>
                <td>
                    {{c.stipo}}
                    <span *ngIf="c.stipo == 'Llamada recibida'">
                        <i class="bi bi-telephone-inbound"></i>
                    </span>
                    <span *ngIf="c.stipo == 'Llamada realizada'">
                        <i class="bi bi-telephone-outbound"></i>
                    </span>
                    <span *ngIf="c.stipo == 'Mensaje recibido'">
                        <i class="bi bi-chat-left-dots"></i>
                    </span>
                    <span *ngIf="c.stipo == 'Mensaje enviado'">
                        <i class="bi bi-chat-right-dots"></i>
                    </span>
                </td>
                <td>
                    {{c.smensaje}}
                </td>
                <td>
                    {{c.sencargado}}
                </td>
                <td *ngIf="!lViewMode">
                    <button (click)="openEditChatModal(c, editChatModal)" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                </td>
                <td *ngIf="!lViewMode">
                    <button (click)="openDeleteChatModal(c)" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="!lLoading && lstChats.length == 0">
            No hay ninguna comunicación registrada
        </tbody>
        <tbody *ngIf="lLoading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </tbody>
    </table>
</div>

<div style="margin-top: 50px;">
    <span style="font-size: 0.75rem;">
        <i>
            {{expediente?.numero}}
        </i>
    </span>
</div>

<!-----------------------------------------------
  --------------- ADD CHAT MODAL ----------------
  ----------------------------------------------->
<ng-template #newChatModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Registrar Comunicación</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="frmNewChat" autocomplete="off">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label for="sfecha" class="form-label">
                        Fecha:
                    </label>
                    <input type="date" class="form-control" id="sfecha" formControlName="sfecha" />
                </div>
                <div class="col-12 col-sm-6">
                    <label for="stipo" class="form-label">
                        Tipo:
                    </label>
                    <select id="stipo" class="form-control" formControlName="stipo">
                        <option value="Llamada realizada">Llamada realizada</option>
                        <option value="Llamada recibida">Llamada recibida</option>
                        <option value="Mensaje enviado">Mensaje enviado</option>
                        <option value="Mensaje recibido">Mensaje recibido</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <label for="smensaje" class="form-label">
                        Motivo:
                    </label>
                    <textarea id="smensaje" rows="3" class="form-control" formControlName="smensaje">
                    </textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label for="sencargado" class="form-label">
                        Atte:
                    </label>
                    <input type="text" id="sencargado" class="form-control" formControlName="sencargado">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addNewChat()"
            [disabled]="!(frmNewChat.valid && !lCreating)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lCreating">
            </span>
            <span class="sr-only" *ngIf="!lCreating">
                Guardar
            </span>
            <span class="sr-only" *ngIf="lCreating">
                Guardando...
            </span>
        </button>
    </div>
</ng-template>

<!-----------------------------------------------
  -------------- EDIT CHAT MODAL ----------------
  ----------------------------------------------->
<ng-template #editChatModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Comunicación</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="frmEditChat" autocomplete="off">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <label for="sfecha" class="form-label">
                        Fecha:
                    </label>
                    <input type="date" class="form-control" id="sfecha" formControlName="sfecha" />
                </div>
                <div class="col-12 col-sm-6">
                    <label for="stipo" class="form-label">
                        Tipo:
                    </label>
                    <select id="stipo" class="form-control" formControlName="stipo">
                        <option value="Llamada realizada">Llamada realizada</option>
                        <option value="Llamada recibida">Llamada recibida</option>
                        <option value="Mensaje enviado">Mensaje enviado</option>
                        <option value="Mensaje recibido">Mensaje recibido</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <label for="smensaje" class="form-label">
                        Motivo:
                    </label>
                    <textarea id="smensaje" rows="3" class="form-control" formControlName="smensaje">
                    </textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <label for="sencargado" class="form-label">
                        Atte:
                    </label>
                    <input type="text" id="sencargado" class="form-control" formControlName="sencargado">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="editChat()"
            [disabled]="!(frmEditChat.valid && !lUpdating)">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lUpdating">
            </span>
            <span class="sr-only" *ngIf="!lUpdating">
                Actualizar
            </span>
            <span class="sr-only" *ngIf="lUpdating">
                Actualizando...
            </span>
        </button>
    </div>
</ng-template>