@if (lLoading) {
  <div>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Cargando...
  </div>
}

@if (!lLoading) {
  <div>
    <div class="container" style="font-size: 0.85rem;">
      @for (tarea of lstTareas; track tarea) {
        <div
          style="border-bottom: 1px solid #cccccc; padding-top: 10px; padding-bottom: 10px;">
          <div>
            <b>
              {{tarea.nombreUsuario}}
            </b>
            <i style="color: grey;">
              ({{tarea.fechaTarea}})
            </i>
            <i style="color: grey;; font-style: italic;">
              - ITER: {{tarea.nombreCheckpoint}}
            </i>
          </div>
          <div style="padding-left: 25px;">
            <div>
              {{tarea.detalleTarea}}
            </div>
            <div>
              <b><i>Por realizar:</i></b> {{tarea.pendienteTarea}}
            </div>
          </div>
        </div>
      }
    </div>

    <!-- Existen mas de 15 registros -->
    @if (lhasmore) {
      @if (!lLoadingMore) {
        <button class="btn btn-primary" (click)="getMasTareas()">
          Cargar más registros
        </button>
      } @else {
        <button class="btn btn-primary" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando más registros...
        </button>
      }
    }

    <!-- Existen mas de 50 registros -->
    @if (lHasEvenMore) {
      @if (!lLoadingEvenMore) {
        <button class="btn btn-primary" (click)="getTareasTodas()">
          Cargar todos los registros (desde el inicio)
        </button>
      } @else {
        <button class="btn btn-primary" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando todos los registros...
        </button>
      }
    }
  </div>
}

<div style="margin-top: 50px;">
  <span style="font-size: 0.75rem;">
    <i>
      {{expediente?.numero}}
    </i>
  </span>
</div>