@if (lLoading) {
  <div>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Cargando...
  </div>
}

@if (!lLoading) {
  <div>
    <div class="container" style="font-size: 0.85rem;">
      @for (tarea of lstTareas; track tarea) {
        <div
          style="border-bottom: 1px solid #cccccc; padding-top: 10px; padding-bottom: 10px;">
          <div>
            <b>
              {{tarea.nombreUsuario}}
            </b>
            <i style="color: grey;">
              ({{tarea.fechaTarea}})
            </i>
            <i style="color: grey;; font-style: italic;">
              - ITER: {{tarea.nombreCheckpoint}}
            </i>
          </div>
          <div style="padding-left: 25px;">
            <div>
              {{tarea.detalleTarea}}
            </div>
            <div>
              <b><i>Por realizar:</i></b> {{tarea.pendienteTarea}}
            </div>
          </div>
        </div>
      }
    </div>
    @if (!lLoadingMore) {
      <div>
        @if (lhasmore) {
          <button class="btn btn-primary" (click)="getTareasTodas()">
            Cargar Todo
          </button>
        }
      </div>
    }
    @if (lLoadingMore) {
      <div>
        <button class="btn btn-primary">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando...
        </button>
      </div>
    }
  </div>
}

<div style="margin-top: 50px;">
  <span style="font-size: 0.75rem;">
    <i>
      {{expediente?.numero}}
    </i>
  </span>
</div>