<h1 style="text-align: center">REPORTE DIARIO DE TRABAJO</h1>

<div>
  <span>Usuario: </span>
  <span>
    <b>{{ idColaborador }}</b>
  </span>
</div>

<hr />

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Colaborador</th>
        <th>Fecha</th>
        <th>Hora entrada</th>
        <th>Hora salida</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rdt of lstRDTs; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ rdt.idcolaborador }}</td>
        <td>{{ rdt.dfecha }}</td>
        <td>
          <span *ngIf="rdt.leditable">
            <select
              class="form-control"
              style="display: inline-block; width: auto"
              (change)="updateHoraIngreso($event.target, rdt.idrdt)"
              [value]="rdt.shoraingreso"
            >
              <option value="--">--</option>
              <option value="07">07h</option>
              <option value="08">08h</option>
              <option value="09">09h</option>
              <option value="10">10h</option>
              <option value="11">11h</option>
              <option value="12">12h</option>
              <option value="13">13h</option>
              <option value="14">14h</option>
              <option value="15">15h</option>
              <option value="16">16h</option>
              <option value="17">17h</option>
              <option value="18">18h</option>
            </select>
            <select
              class="form-control"
              style="display: inline-block; width: auto"
              (change)="updateMinutoIngreso($event.target, rdt.idrdt)"
              [value]="rdt.sminutoingreso"
            >
              <option value="--">--</option>
              <option value="00">00m</option>
              <option value="01">01m</option>
              <option value="02">02m</option>
              <option value="03">03m</option>
              <option value="04">04m</option>
              <option value="05">05m</option>
              <option value="06">06m</option>
              <option value="07">07m</option>
              <option value="08">08m</option>
              <option value="09">09m</option>
              <option value="10">10m</option>
              <option value="11">11m</option>
              <option value="12">12m</option>
              <option value="13">13m</option>
              <option value="14">14m</option>
              <option value="15">15m</option>
              <option value="16">16m</option>
              <option value="17">17m</option>
              <option value="18">18m</option>
              <option value="19">19m</option>
              <option value="20">20m</option>
              <option value="21">21m</option>
              <option value="22">22m</option>
              <option value="23">23m</option>
              <option value="24">24m</option>
              <option value="25">25m</option>
              <option value="26">26m</option>
              <option value="27">27m</option>
              <option value="28">28m</option>
              <option value="29">29m</option>
              <option value="30">30m</option>
              <option value="31">31m</option>
              <option value="32">32m</option>
              <option value="33">33m</option>
              <option value="34">34m</option>
              <option value="35">35m</option>
              <option value="36">36m</option>
              <option value="37">37m</option>
              <option value="38">38m</option>
              <option value="39">39m</option>
              <option value="40">40m</option>
              <option value="41">41m</option>
              <option value="42">42m</option>
              <option value="42">43m</option>
              <option value="44">44m</option>
              <option value="45">45m</option>
              <option value="46">46m</option>
              <option value="47">47m</option>
              <option value="48">48m</option>
              <option value="49">49m</option>
              <option value="50">50m</option>
              <option value="51">51m</option>
              <option value="52">52m</option>
              <option value="53">53m</option>
              <option value="54">54m</option>
              <option value="55">55m</option>
              <option value="56">56m</option>
              <option value="57">57m</option>
              <option value="58">58m</option>
              <option value="59">59m</option>
            </select>
          </span>
          <span *ngIf="!rdt.leditable">
            {{ rdt.shoraingreso + ":" + rdt.sminutoingreso }}
          </span>
        </td>
        <td>
          <span *ngIf="rdt.leditable">
            <select
              class="form-control"
              style="display: inline-block; width: auto"
              (change)="updateHoraSalida($event.target, rdt.idrdt)"
              [value]="rdt.shorasalida"
            >
              <option value="--">--</option>
              <option value="07">07h</option>
              <option value="08">08h</option>
              <option value="09">09h</option>
              <option value="10">10h</option>
              <option value="11">11h</option>
              <option value="12">12h</option>
              <option value="13">13h</option>
              <option value="14">14h</option>
              <option value="15">15h</option>
              <option value="16">16h</option>
              <option value="17">17h</option>
              <option value="18">18h</option>
              <option value="19">19h</option>
              <option value="20">20h</option>
              <option value="21">21h</option>
            </select>
            <select
              class="form-control"
              style="display: inline-block; width: auto"
              (change)="updateMinutoSalida($event.target, rdt.idrdt)"
              [value]="rdt.sminutosalida"
            >
              <option value="--">--</option>
              <option value="00">00m</option>
              <option value="01">01m</option>
              <option value="02">02m</option>
              <option value="03">03m</option>
              <option value="04">04m</option>
              <option value="05">05m</option>
              <option value="06">06m</option>
              <option value="07">07m</option>
              <option value="08">08m</option>
              <option value="09">09m</option>
              <option value="10">10m</option>
              <option value="11">11m</option>
              <option value="12">12m</option>
              <option value="13">13m</option>
              <option value="14">14m</option>
              <option value="15">15m</option>
              <option value="16">16m</option>
              <option value="17">17m</option>
              <option value="18">18m</option>
              <option value="19">19m</option>
              <option value="20">20m</option>
              <option value="21">21m</option>
              <option value="22">22m</option>
              <option value="23">23m</option>
              <option value="24">24m</option>
              <option value="25">25m</option>
              <option value="26">26m</option>
              <option value="27">27m</option>
              <option value="28">28m</option>
              <option value="29">29m</option>
              <option value="30">30m</option>
              <option value="31">31m</option>
              <option value="32">32m</option>
              <option value="33">33m</option>
              <option value="34">34m</option>
              <option value="35">35m</option>
              <option value="36">36m</option>
              <option value="37">37m</option>
              <option value="38">38m</option>
              <option value="39">39m</option>
              <option value="40">40m</option>
              <option value="41">41m</option>
              <option value="42">42m</option>
              <option value="42">43m</option>
              <option value="44">44m</option>
              <option value="45">45m</option>
              <option value="46">46m</option>
              <option value="47">47m</option>
              <option value="48">48m</option>
              <option value="49">49m</option>
              <option value="50">50m</option>
              <option value="51">51m</option>
              <option value="52">52m</option>
              <option value="53">53m</option>
              <option value="54">54m</option>
              <option value="55">55m</option>
              <option value="56">56m</option>
              <option value="57">57m</option>
              <option value="58">58m</option>
              <option value="59">59m</option>
            </select>
          </span>
          <span *ngIf="!rdt.leditable">
            {{ rdt.shorasalida + ":" + rdt.sminutosalida }}
          </span>
        </td>
        <td>
          <a class="btn btn-outline-secondary" *ngIf="!rdt.leditable" [routerLink]="'/rdt/'+rdt.idrdt">
            Ver
          </a>
          <a class="btn btn-outline-success" *ngIf="rdt.leditable" [routerLink]="'/rdt-edit/'+rdt.idrdt">
            Completar
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr />
