<h1 style="text-align: center">
  REPORTE DIARIO DE TRABAJO
</h1>

<h3 style="text-align: center;">
  {{objUser.snombre}}
</h3>

<hr />

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora entrada</th>
        <th>Hora salida</th>
        <th>Observaciones</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody *ngIf="!lLoading">
      <tr *ngFor="let rdt of lstRDTs; let i = index">
        <td>{{ rdt.sfecha }}</td>
        <td>
          {{ rdt.shoraingreso + ":" + rdt.sminutoingreso }}
        </td>
        <td>
          {{ rdt.shorasalida + ":" + rdt.sminutosalida }}
        </td>
        <td>
          {{rdt.observaciones}}
        </td>
        <td>
          <a class="btn btn-outline-dark" *ngIf="!rdt.leditable" [routerLink]="'/rdt/'+rdt.idrdt">
            Ver
          </a>
          <a class="btn btn-success" *ngIf="rdt.leditable" [routerLink]="'/rdt-edit/'+rdt.idrdt">
            Completar
          </a>
        </td>
      </tr>
    </tbody>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lLoading"></span>
  </table>
</div>

<hr />