<br/>

<div class="container">
    <h3 style="text-align: center;">
        Buscar Expediente
    </h3>
    <br/>
    <div class="input-group">
        <div class="input-group-text">
            <i class="bi bi-search" *ngIf="!lSearching">
            </i>
            <span class="spinner-border spinner-border-sm" 
                role="status" 
                aria-hidden="true"
                *ngIf="lSearching"
            ></span>
        </div>
        <input 
            type="text" 
            class="form-control" 
            placeholder="Numero de Expediente"
            #searchTerm
            (keyup.enter)="buscarExpediente(searchTerm.value)"
        >
        <div class="input-group-text">
            <i class="bi bi-search" *ngIf="!lSearching">
            </i>
            <span class="spinner-border spinner-border-sm" 
                role="status" 
                aria-hidden="true"
                *ngIf="lSearching"
            ></span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <button 
                class="btn btn-primary"
                style="width: 100%;"
                (click)="buscarExpediente(searchTerm.value)"
                [disabled]="lSearching"
            >
                <span *ngIf="!lSearching">
                    Buscar
                </span>
                <span *ngIf="lSearching">
                    Buscando...
                </span>
            </button>
        </div>
        <div class="col-3">

        </div>
    </div>
    <br/>
    <div *ngIf="lstHits.length != 0" class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Expediente
                    </th>
                    <th>
                        Materia
                    </th>
                    <th>
                        Demandante
                    </th>
                    <th>
                        Demandado
                    </th>
                    <th>
                        Accion
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expediente of lstHits; let i = index">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        {{expediente.sexpediente}}
                    </td>
                    <td>
                        {{expediente.smateria}}
                    </td>
                    <td>
                        {{expediente.sdemandante}}
                    </td>
                    <td>
                        {{expediente.sdemandado}}
                    </td>
                    <td>
                        <a class="btn btn-success" [routerLink]="'/expediente/'+expediente.sexpediente">
                            Ver
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>