.expediente {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 24px;
    max-width: 720px;

    h4,
    h6 {
        text-align: center;
    }

    table {
        border-collapse: separate;
        border-spacing: 10px;
    }

    #sexpediente {
        text-align: center;
        background-color: lightgrey;
        border-color: #c1c1c1;
    }

    #sexpediente.ng-invalid.ng-touched {
        border: 1px solid red;
    }

    #sexpediente.ng-valid.ng-touched {
        border: 1px solid limegreen;
    }
}