<br />
<form class="container expediente" [formGroup]="frmExpediente" autocomplete="off">
    <h4>
        <select class="form-select" formControlName="clase" (change)="setValidator()" style="text-align: center;">
            <option value="PRINCIPAL">EXPEDIENTE PRINCIPAL</option>
            <option value="PROVISIONAL">EXPEDIENTE PROVISIONAL</option>
            <option value="CAUTELAR">EXPEDIENTE CAUTELAR</option>
            <option value="CF">CARPETA FISCAL</option>
            <!-- <option value="CURADURIA">CURADURIA</option> -->
        </select>
    </h4>
    <h4>
        <input type="text" placeholder="Número de Expediente" class="form-control"
            formControlName="numero" id="numero-expediente">
    </h4>
    <hr />
    <table style="width:100%">
        <tr>
            <td>
                <b>ESPECIALIDAD:</b>
            </td>
            <td>
                <select class="form-select" formControlName="especialidad" (change)="setLstMaterias()">
                    <option value="LABORAL">LABORAL</option>
                    <option value="FAMILIA">FAMILIA</option>
                    <option value="CIVIL">CIVIL</option>
                    <option value="PENAL">PENAL</option>
                    <option value="CONSTITUCIONAL">CONSTITUCIONAL</option>
                    <option value="ADMINISTRATIVO">ADMINISTRATIVO</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <b>MATERIA:</b>
            </td>
            <td>
                <input type="text" class="form-control" list="materias" formControlName="materia">
                <datalist id="materias">
                    <option *ngFor="let mat of lstMaterias" [value]="mat.smateria"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>
                <b>SALA:</b>
            </td>
            <td>
                <input type="text" class="form-control" autocapitalize="characters" formControlName="juzgado">
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDANTE:</b>
            </td>
            <td>
                <input type="text" class="form-control" formControlName="demandante">
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDADO:</b>
            </td>
            <td>
                <input type="text" class="form-control" formControlName="demandado">
            </td>
        </tr>
        <tr>
            <td>
                <b>INICIO:</b>
            </td>
            <td>
                <input type="text" placeholder="DD/MM/YYYY" class="form-control" formControlName="fechaInicio">
            </td>
        </tr>
    </table>
    <hr />
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h6>
                AREQUIPA
            </h6>
        </div>
        <div class="col-3">
            <div style="display: flex; flex-direction: row-reverse;">
                <button class="btn btn-success" (click)="guardarExpediente()"
                    [disabled]="!(frmExpediente.valid && !lCreating)">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lCreating">
                    </span>
                    <span class="sr-only" *ngIf="!lCreating">
                        Registrar
                    </span>
                    <span class="sr-only" *ngIf="lCreating">
                        Registrando...
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
