<br />

<form class="container expediente" [formGroup]="frmExpediente" autocomplete="off">
    <h4>
        <select class="form-select" formControlName="idtipodoc" (change)="setValidator()" style="text-align: center;">
            <option value="EXPEDIENTE-ORIGEN">EXPEDIENTE PRINCIPAL/ORIGEN</option>
            <option value="EXPEDIENTE-CAUTELAR">EXPEDIENTE CAUTELAR</option>
            <option value="CASACION-2DA-SALA">CASACION 2DA SALA</option>
            <option value="CASACION-4TA-SALA">CASACION 4TA SALA</option>
            <option value="CARPETA-FISCAL">CARPETA FISCAL</option>
            <option value="EXPEDIENTE-CURADURIA">CURADURÍA</option>
            <option value="EXPEDIENTE-PROVISIONAL">EXPEDIENTE PROVISIONAL</option>
        </select>
    </h4>
    <h4>
        <input type="text" placeholder="00000-0000-0-0000-00-00-00" class="form-control" formControlName="sexpediente"
            id="sexpediente">
    </h4>
    <hr />
    <table style="width:100%">
        <tr>
            <td>
                <b>ESPECIALIDAD:</b>
            </td>
            <td>
                <select class="form-select" formControlName="sespecialidad" (change)="setLstMaterias()">
                    <option value="LABORAL">LABORAL</option>
                    <option value="CIVIL">CIVIL</option>
                    <option value="PENAL">PENAL</option>
                    <option value="FAMILIA">FAMILIA</option>
                    <option value="CONSTITUCIONAL">CONSTITUCIONAL</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <b>MATERIA:</b>
            </td>
            <td>
                <select class="form-select" formControlName="idmateria" (change)="setSMateria()">
                    <option *ngFor="let mat of lstMaterias" [value]="mat.idmateria">
                        {{mat.smateria}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <b>SALA:</b>
            </td>
            <td>
                <input type="text" class="form-control" autocapitalize="characters" formControlName="sorganojuris">
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDANTE:</b>
            </td>
            <td>
                <input type="text" class="form-control" formControlName="sdemandante">
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDADO:</b>
            </td>
            <td>
                <input type="text" class="form-control" formControlName="sdemandado">
            </td>
        </tr>
        <tr>
            <td>
                <b>INICIO:</b>
            </td>
            <td>
                <input type="text" placeholder="DD/MM/YYYY" class="form-control" formControlName="sfechainicio">
            </td>
        </tr>
    </table>
    <hr />
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h6>
                AREQUIPA
            </h6>
        </div>
        <div class="col-3">
            <div style="display: flex; flex-direction: row-reverse;">
                <button class="btn btn-success" (click)="crearExpediente()"
                    [disabled]="!(frmExpediente.valid && !lCreating)">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="lCreating">
                    </span>
                    <span class="sr-only" *ngIf="!lCreating">
                        Registrar
                    </span>
                    <span class="sr-only" *ngIf="lCreating">
                        Registrando...
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>

<br />