<br/>

<div class="container expediente">
    <h4>
        {{objExpediente.sorganojuris}}
    </h4>
    <h4>
        {{objExpediente.sexpediente}}
    </h4>
    <hr/>
    <table>
        <tr>
            <td>
                <b>MATERIA:</b>
            </td>
            <TD>
                {{objExpediente.smateria}}
            </TD>
        </tr>
        <tr>
            <td>
                <b>ESPECIALISTA:</b>
            </td>
            <td>
                {{objExpediente.sespecialista}}
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDANTE:</b>
            </td>
            <td>
                {{objExpediente.sdemandante}}
            </td>
        </tr>
        <tr>
            <td>
                <b>DEMANDADO:</b>
            </td>
            <td>
                {{objExpediente.sdemandado}}
            </td>
        </tr>
        <tr>
            <td>
                <b>INICIO:</b>
            </td>
            <td>
                {{objExpediente.sfechainicio}}
            </td>
        </tr>
    </table>
    <hr/>
    <h6>
        AREQUIPA - 2023
    </h6>
</div>

<div class="container">
    Historial:
    <ul>
        <li>24/jul: Realizacion de minuta</li>
        <li>24/jul: Redaccion de infomr</li>
        <li>24/jul: Llamanda al cliente</li>
        <li>24/jul: Actualizacion de expediente</li>
        <li>24/jul: Pago de aranceles</li>
        <li>24/jul: Audiencia de 1ra instancia</li>
        <li>24/jul: Informe sobre audiencia</li>
        <li>24/jul: Programacion de nueva audiencia</li>
    </ul>
</div>