<div class="container">
    <h3>
        Perfil del Colaborador
    </h3>
    <table class="table table-bordered">
        <tbody *ngIf="!lLoading">
            <tr>
                <td>
                    Nombre
                </td>
                <td>
                    {{objUsuario.snombre}}
                </td>
            </tr>
            <tr>
                <td>
                    Cargo
                </td>
                <td>
                    <span *ngIf="objUsuario.scargo == 'abogado'">
                        <i class="bi bi-fire"></i>
                    </span>
                    {{objUsuario.scargo}}
                </td>
            </tr>
            <tr>
                <td>
                    Color
                </td>
                <td>
                    <span [ngStyle]="{'color': objUsuario.scolor}">
                        <i class="bi bi-square-fill"></i>
                        <i class="bi bi-square-fill"></i>
                        <i class="bi bi-square-fill"></i>
                        <i class="bi bi-square-fill"></i>
                        <i class="bi bi-square-fill"></i>
                        <i class="bi bi-square-fill"></i>
                        <i class="bi bi-square-fill"></i>
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    Contraseña
                </td>
                <td>
                    {{objUsuario.spassword}}
                </td>
            </tr>
            <tr>
                <td>
                    Estado
                </td>
                <td>
                    <span *ngIf="objUsuario.lactive">
                        <span style="color: green;">
                            <i class="bi bi-circle-fill"></i>
                        </span>
                        Activo
                    </span>
                    <span *ngIf="!objUsuario.lactive">
                        <span style="color: red;">
                            <i class="bi bi-circle-fill"></i>
                        </span>
                        Dado de baja
                    </span>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="lLoading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </tbody>
    </table>

    <div *ngIf="!lLoading">
        <h5>
            Acciones
        </h5>
        <div>
            <button class="btn btn-primary" (click)="openModalEdit(editUserModal)">
                Editar datos
            </button>
        </div>
        <hr>
        <div>
            <button class="btn btn-danger" *ngIf="objUsuario.lactive">
                Dar de Baja
            </button>
        </div>
        <div>
            <button class="btn btn-success" *ngIf="!objUsuario.lactive">
                Dar de Alta
            </button>
        </div>
    </div>
</div>

<!------------------------------------------------
  --------------- EDIT USER MODAL ----------------
  ------------------------------------------------>
<ng-template #editUserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Datos</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="frmUsuario" autocomplete="off">
            <div class="row mb-3">
                <label for="snombre" class="form-label">
                    Nombre
                </label>
                <input type="text" class="form-control" id="snombre" formControlName="snombre" />
            </div>
            <div class="row mb-3">
                <label for="scolor" class="form-label">
                    Color
                </label>
                <input type="color" class="form-control" id="scolor" formControlName="scolor" />
            </div>
            <div class="row mb-3">
                <label for="spassword" class="form-label">
                    Contraseña
                </label>
                <input type="text" class="form-control" id="spassword" formControlName="spassword" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="updateUsuario()" [disabled]="!frmUsuario.valid" *ngIf="!lUpdating">
            Actualizar
        </button>
        <button class="btn btn-primary" *ngIf="lUpdating" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
            </span>
            Actualizando...
        </button>
    </div>
</ng-template>

<!------------------------------------------------
  -------------- DELETE USER MODAL ---------------
  ------------------------------------------------>
<ng-template #editUserModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Dar de Baja</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="frmUsuario" autocomplete="off">
            <div class="row mb-3">
                <label for="idcolaborador" class="form-label">
                    ID
                </label>
                <input type="text" class="form-control" id="idcolaborador" formControlName="id" />
            </div>
            <div class="row mb-3">
                <label for="snombre" class="form-label">
                    Nombre
                </label>
                <input type="text" class="form-control" id="snombre" formControlName="snombre" />
            </div>
            <div class="row mb-3">
                <label for="scolor" class="form-label">
                    Color
                </label>
                <input type="color" class="form-control" id="scolor" formControlName="scolor" />
            </div>
            <div class="row mb-3">
                <label for="spassword" class="form-label">
                    Contraseña
                </label>
                <input type="password" class="form-control" id="spassword" formControlName="scolor" />
            </div>
        </form>
        <pre>
            {{frmUsuario.value | json}}
        </pre>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">
            Registrar
        </button>
        <button class="btn btn-primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
            </span>
            Registrando
        </button>
    </div>
</ng-template>