<div class="card mb-4">
    <div class="card-header d-flex justify-content-between">
        <h5 class="m-0">
            II. Gastos Complementarios
        </h5>
        <div *ngIf="idusuario == 'admin4' || idusuario == 'lizbet-silva'">
            <label role="button" *ngIf="!esEditable" (click)="cambiarEstadoEditable()">
                <i class="bi bi-lock-fill"></i>
            </label>
            <label role="button" *ngIf="esEditable" (click)="cambiarEstadoEditable()">
                <i class="bi bi-unlock-fill"></i>
            </label>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">
            No son honorarios
        </p>

        <div *ngIf="esEditable">
            <button class="btn btn-success btn-sm" (click)="abrirModalAgregarGasto(modalAgregarGasto)">
                + Agregar
            </button>
        </div>
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Concepto
                    </th>
                    <th>
                        Monto (S/)
                    </th>
                    <th *ngIf="esEditable">
                        Editar
                    </th>
                    <th *ngIf="esEditable">
                        Quitar
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="!cargando && gastosComplementarios.length > 0">
                <tr *ngFor="let gasto of gastosComplementarios">
                    <td>
                        {{gasto.fecha}}
                    </td>
                    <td>
                        {{gasto.concepto}}
                    </td>
                    <td>
                        {{gasto.monto | number:'2.2-2'}}
                    </td>
                    <td *ngIf="esEditable">
                        <button class="btn btn-warning btn-sm" (click)="abrirModalEditarGasto(gasto, modalEditarGasto)">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                    <td *ngIf="esEditable">
                        <button class="btn btn-danger btn-sm" (click)="abrirModalQuitarGasto(gasto, modalQuitarGasto)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!cargando && gastosComplementarios.length == 0">
                Sin registros :/
            </tbody>
            <tbody *ngIf="cargando">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                cargando...
            </tbody>
            <tfoot>
                <tr>
                    <th style="border: 0;">
                        Total
                    </th>
                    <th style="border: 0;">
                        {{sumaGastosComplementarios | number: '2.2-2'}}
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-------------------------------------------------
  ------------- MODAL AGREGAR GASTO ---------------
  ------------------------------------------------>
<ng-template #modalAgregarGasto let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Agregar gasto complementario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form class="row" [formGroup]="frmNuevoGasto">
            <div class="col-6 mb-3">
                <div class="input-group">
                    <span class="input-group-text">Monto</span>
                    <input type="number" class="form-control" min="1" formControlName="monto">
                </div>
            </div>

            <div class="col-7 mb-3">
                <div class="input-group">
                    <span class="input-group-text" style="padding-right: 20px;">Fecha</span>
                    <input type="date" class="form-control" formControlName="fecha">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group">
                    <span class="input-group-text">Concepto</span>
                    <textarea class="form-control" placeholder="Algun comentario" formControlName="concepto"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" *ngIf="!guardando" [disabled]="!frmNuevoGasto.valid"
            (click)="guardarNuevoGastoComplementario()">
            Guardar
        </button>
        <button class="btn btn-primary" *ngIf="guardando" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Guardando...
        </button>
    </div>
</ng-template>

<!-------------------------------------------------
  ------------- MODAL EDITAR GASTO ---------------
  ------------------------------------------------>
<ng-template #modalEditarGasto let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Editar gasto complementario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form class="row" [formGroup]="frmEditaGasto">
            <div class="col-6 mb-3">
                <div class="input-group">
                    <span class="input-group-text">Monto</span>
                    <input type="number" class="form-control" placeholder="1" min="1" formControlName="monto">
                </div>
            </div>

            <div class="col-7 mb-3">
                <div class="input-group">
                    <span class="input-group-text" style="padding-right: 20px;">Fecha</span>
                    <input type="date" class="form-control" formControlName="fecha">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group">
                    <span class="input-group-text">Concepto</span>
                    <textarea class="form-control" placeholder="Algun comentario" formControlName="concepto"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" *ngIf="!actualizando" [disabled]="!frmEditaGasto.valid"
            (click)="modificarGastoComplementario()">
            Actualizar
        </button>
        <button class="btn btn-primary" *ngIf="actualizando" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Actualizando...
        </button>
    </div>
</ng-template>

<!-------------------------------------------------
  ------------- MODAL QUITAR ABONO ---------------
  ------------------------------------------------>
<ng-template #modalQuitarGasto let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Quitar gasto complementario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div>
                Se quitará el gasto complementario de monto
                <b>{{frmQuitaGasto.value['monto']}}</b>
            </div>
            <div>
                Cuyo cuya concepto es:
                <b>{{frmQuitaGasto.value['concepto']}}</b>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" *ngIf="!quitando" (click)="removerGastoComplementario()">
            Quitar
        </button>
        <button class="btn btn-danger" *ngIf="quitando" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Quitando...
        </button>
    </div>
</ng-template>